{
   "openapi":"3.0.1",
   "info":{
      "version":"1.0",
      "title":"Premier API",
      "description":"Enhance your apps, records, or experience with robust nonprofit profile financials, people, DEI, and IRS compliance validation.",
      "license":{
         "name":"Candid API License Agreement"
      }
   },
   "servers":[
      {
         "url":"https://api.candid.org/premier"
      },
      {
         "url":"https://apidata.guidestar.org/premier"
      }
   ],
   "paths":{
      "/v1/{ein}":{
         "get":{
            "summary":"/premier/v1",
            "description":"Use an EIN in the path parameter to retrieve data on a nonprofit's financials, people, DEI, and IRS compliance validation. This endpoint is deprecated; use /premier/v3 instead.",
            "operationId":"premier_v1",
            "parameters":[
               {
                  "name":"ein",
                  "in":"path",
                  "description":"Employer Identification Number.",
                  "example":"13-1837418",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/V1PublicProfile"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/BadRequest"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/Unauthorized"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/Forbidden"
                        }
                     }
                  }
               },
               "404":{
                  "description":"No Results Found",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/NotFound"
                        }
                     }
                  }
               },
               "406":{
                  "description":"Not Acceptable",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/NotAcceptable"
                        }
                     }
                  }
               },
               "429":{
                  "description":"Too Many Requests",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/TooManyRequests"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/InternalServerError"
                        }
                     }
                  }
               }
            },
            "deprecated":true
         }
      },
      "/v1/propdf/{ein}":{
         "get":{
            "summary":"/premier/v1/propdf",
            "description":"Use an EIN in the path parameter to retrieve a PDF of a nonprofit's financials, people, DEI, and IRS compliance validation.",
            "operationId":"premier_v1_propdf",
            "parameters":[
               {
                  "name":"ein",
                  "in":"path",
                  "description":"Employer Identification Number.",
                  "example":"13-1837418",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "content":{
                     "application/pdf":{
                        "schema":{
                           "type":"object",
                           "description":"PDF containing information for the organization with the given ein"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/BadRequest"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/Unauthorized"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/Forbidden"
                        }
                     }
                  }
               },
               "404":{
                  "description":"No Results Found",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/NotFound"
                        }
                     }
                  }
               },
               "406":{
                  "description":"Not Acceptable",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/NotAcceptable"
                        }
                     }
                  }
               },
               "429":{
                  "description":"Too Many Requests",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/TooManyRequests"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/InternalServerError"
                        }
                     }
                  }
               }
            }
         }
      },
      "/v1/ftapdf/{ein}":{
         "get":{
            "summary":"/premier/v1/ftapdf",
            "description":"Use an EIN in the path parameter to get a PDF of a nonprofit's financial trends analysis.",
            "operationId":"premier_v1_ftapdf",
            "parameters":[
               {
                  "name":"ein",
                  "in":"path",
                  "description":"Employer Identification Number.",
                  "example":"13-1837418",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "content":{
                     "application/pdf":{
                        "schema":{
                           "type":"object",
                           "description":"PDF containing financial analysis trend for the organization with the given ein"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/BadRequest"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/Unauthorized"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/Forbidden"
                        }
                     }
                  }
               },
               "404":{
                  "description":"No Results Found",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/NotFound"
                        }
                     }
                  }
               },
               "406":{
                  "description":"Not Acceptable",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/NotAcceptable"
                        }
                     }
                  }
               },
               "429":{
                  "description":"Too Many Requests",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/TooManyRequests"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/InternalServerError"
                        }
                     }
                  }
               }
            }
         }
      },
      "/v2/{ein}":{
         "get":{
            "summary":"/premier/v2",
            "description":"Use an EIN in the path parameter to retrieve data on a nonprofit's financials, people, DEI, and IRS compliance validation. This endpoint is deprecated; use /premier/v3 instead.",
            "operationId":"premier_v2",
            "parameters":[
               {
                  "name":"ein",
                  "in":"path",
                  "description":"Employer Identification Number.",
                  "example":"13-1837418",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/V2PublicProfile"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/BadRequest"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/Unauthorized"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/Forbidden"
                        }
                     }
                  }
               },
               "404":{
                  "description":"No Results Found",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/NotFound"
                        }
                     }
                  }
               },
               "406":{
                  "description":"Not Acceptable",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/NotAcceptable"
                        }
                     }
                  }
               },
               "429":{
                  "description":"Too Many Requests",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/TooManyRequests"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/InternalServerError"
                        }
                     }
                  }
               }
            },
            "deprecated":true
         }
      },
      "/v3/{ein}":{
         "get":{
            "summary":"/premier/v3",
            "description":"Use an EIN in the path parameter to retrieve data on a nonprofit's financials, people, DEI, and IRS compliance validation.",
            "operationId":"premier_v3",
            "parameters":[
               {
                  "name":"ein",
                  "in":"path",
                  "description":"Employer Identification Number.",
                  "example":"13-1837418",
                  "required":true,
                  "schema":{
                     "type":"string",
                     "example":null
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/V3PublicProfile"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/BadRequest"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/Unauthorized"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/Forbidden"
                        }
                     }
                  }
               },
               "404":{
                  "description":"No Results Found",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/NotFound"
                        }
                     }
                  }
               },
               "406":{
                  "description":"Not Acceptable",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/NotAcceptable"
                        }
                     }
                  }
               },
               "429":{
                  "description":"Too Many Requests",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/TooManyRequests"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/InternalServerError"
                        }
                     }
                  }
               }
            },
            "deprecated":false
         }
      }
   },
   "components":{
      "securitySchemes":{
         "apiKeyHeader":{
            "type":"apiKey",
            "name":"Subscription-Key",
            "in":"header"
         }
      },
      "schemas":{
         "Object":{
            "type":"object",
            "properties":{
               
            }
         },
         "Error":{
            "type":"object",
            "properties":{
               "resource":{
                  "type":"string"
               },
               "reason":{
                  "type":"string"
               }
            }
         },
         "V1PublicProfile":{
            "type":"object",
            "properties":{
               "code":{
                  "type":"integer",
                  "description":"HTTP response status code.",
                  "example":200
               },
               "message":{
                  "type":"string",
                  "description":"Diagnostic message for response status",
                  "example":"Request was processed successfully!"
               },
               "took":{
                  "type":"integer",
                  "description":"Time taken for request to process",
                  "example":24
               },
               "errors":{
                  "type":"array",
                  "description":"List of errors encountered",
                  "items":{
                     "type":"string"
                  }
               },
               "data":{
                  "type":"object",
                  "properties":{
                     "summary":{
                        "$ref":"#/components/schemas/Summary1"
                     },
                     "programs":{
                        "$ref":"#/components/schemas/Programs1"
                     },
                     "financials":{
                        "$ref":"#/components/schemas/Financials2"
                     },
                     "operations":{
                        "$ref":"#/components/schemas/Operations1"
                     },
                     "charitycheck":{
                        "$ref":"#/components/schemas/CharityCheck"
                     }
                  }
               }
            }
         },
         "V2PublicProfile":{
            "type":"object",
            "properties":{
               "code":{
                  "type":"integer",
                  "description":"HTTP response status code.",
                  "example":200
               },
               "message":{
                  "type":"string",
                  "description":"Diagnostic message for response status",
                  "example":"Request was processed successfully!"
               },
               "took":{
                  "type":"integer",
                  "description":"Time taken for request to process",
                  "example":24
               },
               "errors":{
                  "type":"array",
                  "description":"List of errors encountered",
                  "items":{
                     "type":"string"
                  }
               },
               "data":{
                  "type":"object",
                  "properties":{
                     "summary":{
                        "$ref":"#/components/schemas/Summary2"
                     },
                     "programs":{
                        "$ref":"#/components/schemas/Programs2"
                     },
                     "financials":{
                        "$ref":"#/components/schemas/Financials2"
                     },
                     "operations":{
                        "$ref":"#/components/schemas/Operations1"
                     },
                     "charitycheck":{
                        "$ref":"#/components/schemas/CharityCheck"
                     }
                  }
               }
            }
         },
         "V3PublicProfile":{
            "type":"object",
            "properties":{
               "code":{
                  "type":"integer",
                  "description":"HTTP response status code.",
                  "example":200
               },
               "message":{
                  "type":"string",
                  "description":"Diagnostic message for response status",
                  "example":"Request was processed successfully!"
               },
               "took":{
                  "type":"integer",
                  "description":"Time taken for request to process",
                  "example":24
               },
               "errors":{
                  "type":"array",
                  "description":"List of errors encountered",
                  "items":{
                     "type":"string"
                  }
               },
               "data":{
                  "type":"object",
                  "properties":{
                     "summary":{
                        "$ref":"#/components/schemas/Summary3"
                     },
                     "programs":{
                        "$ref":"#/components/schemas/Programs3"
                     },
                     "financials":{
                        "$ref":"#/components/schemas/Financials3"
                     },
                     "operations":{
                        "$ref":"#/components/schemas/Operations2"
                     },
                     "charitycheck":{
                        "$ref":"#/components/schemas/CharityCheck"
                     }
                  }
               }
            }
         },
         "Programs1":{
            "type":"object",
            "description":"Collection of an organizations programs and program metrics",
            "properties":{
               "programs":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Program2"
                  }
               },
               "platinum_metrics":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/PlatinumMetrics1"
                  }
               },
               "charting_impact_answers":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Question"
                  }
               }
            }
         },
         "Summary1":{
            "type":"object",
            "description":"Information about the non-profit, such as name and address",
            "properties":{
               "organization_id":{
                  "type":"integer",
                  "description":"GuideStar internal organization ID",
                  "example":6908122
               },
               "organization_name":{
                  "type":"string",
                  "description":"Organization name",
                  "example":"Candid"
               },
               "ein":{
                  "type":"string",
                  "description":"Employee identification number",
                  "example":"13-1837418"
               },
               "bridge_id":{
                  "type":"string",
                  "description":"DEPRECATED",
                  "example":"",
                  "deprecated":true
               },
               "address_line_1":{
                  "type":"string",
                  "description":"Organization address street name",
                  "example":"32 Old Slip"
               },
               "address_line_2":{
                  "type":"string",
                  "description":"Organization address Suite or Apartment number",
                  "example":"24th Floor"
               },
               "city":{
                  "type":"string",
                  "description":"Organization address city",
                  "example":"New York"
               },
               "state":{
                  "type":"string",
                  "description":"Organization address state",
                  "example":"NY"
               },
               "zip":{
                  "type":"string",
                  "description":"Organization address zip code",
                  "example":"10005"
               },
               "fax":{
                  "type":"string",
                  "description":"Organization fax number",
                  "example":"(212)807-3677"
               },
               "govt_registered_name":{
                  "type":"string",
                  "description":"Legal organization name",
                  "example":"Candid"
               },
               "also_known_as":{
                  "type":"string",
                  "description":"Comma separated string of names associated with the organization",
                  "example":"The Foundation Center,  Foundation Center, GuideStar, GuideStar USA"
               },
               "fiscal_year_end":{
                  "type":"string",
                  "description":"When the fiscal year ends for the organization",
                  "example":"Dec 31"
               },
               "fiscal_year_start":{
                  "type":"string",
                  "description":"When the fiscal year begins for the organization",
                  "example":"Jan 1"
               },
               "affiliation_code":{
                  "type":"string",
                  "description":"Single digit code designating the type of organization (Central, Intermediate, or Independent) if there is no group exemption or (Central, Intermediate, Independent, or Subordinate) if there is a group exemption.",
                  "example":"3"
               },
               "affiliation_description":{
                  "type":"string",
                  "description":"Description of what the affiliation code means",
                  "example":"This code is used if the organization is an independent organization or an independent auxiliary (i.e., not affiliated with a a National, Regional, or Geographic grouping of organizations)."
               },
               "contact_name":{
                  "type":"string",
                  "description":"Primary contact name",
                  "example":"Gabe Cohen"
               },
               "contact_title":{
                  "type":"string",
                  "description":"Primary contact title",
                  "example":"Senior Director of Brand and Marketing"
               },
               "contact_email":{
                  "type":"string",
                  "description":"Primary contact email",
                  "example":"answers@candid.org"
               },
               "contact_phone":{
                  "type":"string",
                  "description":"Primary contact phone number",
                  "example":"212-620-4230"
               },
               "contact_fax":{
                  "type":"string",
                  "description":"Primary contact fax number",
                  "example":"212-807-3677"
               },
               "gs_profile_update_level":{
                  "type":"string",
                  "description":"Guidestar.org organization profile seal of transparency level",
                  "example":"Platinum 2021"
               },
               "gs_profile_update_level_logo":{
                  "type":"string",
                  "description":"Url to Guidestar.org seal image",
                  "example":"https://www.guidestar.org/App_Themes/MainSite2/images/ProfilePageSvgs/profile-PLATINUM2021-seal.svg"
               },
               "deductibility_code":{
                  "type":"string",
                  "description":"Deductibility code signifies whether contributions made to an organization are deductible",
                  "example":"1"
               },
               "deductibility_description":{
                  "type":"string",
                  "description":"Deductibility code description",
                  "example":"Contributions are deductible, as provided by law"
               },
               "donation_to_ein":{
                  "type":"string",
                  "description":"EIN that should be used for charitable donations",
                  "example":"13-1837418"
               },
               "donation_to_name":{
                  "type":"string",
                  "description":"Organization name that should be used for charitable donations",
                  "example":"Candid"
               },
               "areas_served_narrative":{
                  "type":"string",
                  "description":"DEPRECATED",
                  "example":"",
                  "deprecated":true
               },
               "ruling_year":{
                  "type":"string",
                  "description":"Year that organization started operating as a non-profit",
                  "example":"1957"
               },
               "gs_public_report":{
                  "type":"string",
                  "description":"Guidestar.org organization profile URL",
                  "example":"https://www.guidestar.org/profile/13-1837418"
               },
               "gs_pro_pdf":{
                  "type":"string",
                  "description":"URL of API call to the Pro PDF API endpoint to download the organization's profile PDF",
                  "example":"https://apidata.guidestar.org/premier/v1/propdf/13-1837418"
               },
               "impact_statement":{
                  "type":"string",
                  "description":"DEPRECATED",
                  "example":"",
                  "deprecated":true
               },
               "subsection_code":{
                  "type":"string",
                  "description":"Subsection Codes are the codes shown under section 501(c) of the Internal Revenue Code of 1986, which define the category under which an organization may be exempt.",
                  "example":"03"
               },
               "subsection_description":{
                  "type":"string",
                  "description":"Description of organization subsection code",
                  "example":"501(c)(3) Public Charity"
               },
               "keywords":{
                  "type":"string",
                  "description":"Keywords added by the organization to their profile",
                  "example":"philanthropy, data, transparency, capacity building, research, education, foundations, foundation, charitable giving, data driven decisions, nonprofits, transparency, nonprofit sector, organizational effectiveness, organizational efficiency, nonprofit information hub, Forms 990, GuideStar, Foundation Center"
               },
               "logo_url":{
                  "type":"string",
                  "description":"Organization logo URL",
                  "example":"https://www.guidestar.org/ViewEdoc.aspx?eDocId=6645385&approved=True"
               },
               "mission":{
                  "type":"string",
                  "description":"Organization mission statement",
                  "example":"Candid gets you the information you need to do good."
               },
               "is_national_hq":{
                  "type":"boolean",
                  "description":"Whether or not this organization is the national headquarters",
                  "example":false
               },
               "ntee_code":{
                  "type":"string",
                  "description":"National Taxonomy of Exempt Entities (NTEE) Code",
                  "example":"T50 - Philanthropy, Voluntarism, and Grantmaking"
               },
               "website_url":{
                  "type":"string",
                  "description":"Organization website URL",
                  "example":"candid.org"
               },
               "year_founded":{
                  "type":"string",
                  "description":"Year that an organization was founded",
                  "example":"1956"
               },
               "year_incorporated":{
                  "type":"string",
                  "description":"Year that an organization was incorporated",
                  "example":"1956"
               },
               "addresses":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Address"
                  }
               },
               "affiliations":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/Affiliation"
                  }
               },
               "awards":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/Award"
                  }
               },
               "formerly_known_as":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/FormerName"
                  }
               },
               "forms_1023_1024":{
                  "type":"array",
                  "items":{
                     "type":"string",
                     "description":"Application for the organization to gain tax-exempt status",
                     "example":[
                        "https://www.guidestar.org/ViewEdoc.aspx?eDocId=7077922&approved=True"
                     ]
                  }
               },
               "letters_of_determination":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/LetterOfDetermination"
                  }
               },
               "letters_of_dissolution":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/LetterOfDissolution"
                  }
               },
               "ntee_codes":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/nteeCode"
                  }
               },
               "naics_code":{
                  "$ref":"#/components/schemas/NAICSCode"
               },
               "sic_codes":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/SICCode"
                  }
               },
               "other_documents":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/OtherDocument"
                  }
               },
               "photos":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/PhotoLink"
                  }
               },
               "social_media_urls":{
                  "type":"array",
                  "items":{
                     "type":"string",
                     "description":"A social media URL related to the organization",
                     "example":"https://www.facebook.com/CandidDotOrg/"
                  }
               },
               "telephone_numbers":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/TelephoneNumber"
                  }
               },
               "videos":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Video"
                  }
               }
            }
         },
         "Summary2":{
            "type":"object",
            "description":"Information about the non-profit, such as name and address",
            "properties":{
               "organization_id":{
                  "type":"integer",
                  "description":"GuideStar internal organization ID",
                  "example":6908122
               },
               "organization_name":{
                  "type":"string",
                  "description":"Organization name",
                  "example":"Candid"
               },
               "ein":{
                  "type":"string",
                  "description":"Employee identification number",
                  "example":"13-1837418"
               },
               "bridge_id":{
                  "type":"string",
                  "description":"DEPRECATED",
                  "example":"",
                  "deprecated":true
               },
               "address_line_1":{
                  "type":"string",
                  "description":"Organization address street name",
                  "example":"32 Old Slip"
               },
               "address_line_2":{
                  "type":"string",
                  "description":"Organization address Suite or Apartment number",
                  "example":"24th Floor"
               },
               "city":{
                  "type":"string",
                  "description":"Organization address city",
                  "example":"New York"
               },
               "state":{
                  "type":"string",
                  "description":"Organization address state",
                  "example":"NY"
               },
               "zip":{
                  "type":"string",
                  "description":"Organization address zip code",
                  "example":"10005"
               },
               "fax":{
                  "type":"string",
                  "description":"Organization fax number",
                  "example":"(212)807-3677"
               },
               "govt_registered_name":{
                  "type":"string",
                  "description":"Legal organization name",
                  "example":"Candid"
               },
               "also_known_as":{
                  "type":"string",
                  "description":"Comma separated string of names associated with the organization",
                  "example":"The Foundation Center,  Foundation Center, GuideStar, GuideStar USA"
               },
               "fiscal_year_end":{
                  "type":"string",
                  "description":"When the fiscal year ends for the organization",
                  "example":"Dec 31"
               },
               "fiscal_year_start":{
                  "type":"string",
                  "description":"When the fiscal year begins for the organization",
                  "example":"Jan 1"
               },
               "affiliation_code":{
                  "type":"string",
                  "description":"Single digit code designating the type of organization (Central, Intermediate, or Independent) if there is no group exemption or (Central, Intermediate, Independent, or Subordinate) if there is a group exemption.",
                  "example":"3"
               },
               "affiliation_description":{
                  "type":"string",
                  "description":"Description of what the affiliation code means",
                  "example":"This code is used if the organization is an independent organization or an independent auxiliary (i.e., not affiliated with a a National, Regional, or Geographic grouping of organizations)."
               },
               "contact_name":{
                  "type":"string",
                  "description":"Primary contact name",
                  "example":"Gabe Cohen"
               },
               "contact_title":{
                  "type":"string",
                  "description":"Primary contact title",
                  "example":"Senior Director of Brand and Marketing"
               },
               "contact_email":{
                  "type":"string",
                  "description":"Primary contact email",
                  "example":"answers@candid.org"
               },
               "contact_phone":{
                  "type":"string",
                  "description":"Primary contact phone number",
                  "example":"212-620-4230"
               },
               "contact_fax":{
                  "type":"string",
                  "description":"Primary contact fax number",
                  "example":"212-807-3677"
               },
               "gs_profile_update_level":{
                  "type":"string",
                  "description":"Guidestar.org organization profile seal of transparency level",
                  "example":"Platinum 2021"
               },
               "gs_profile_update_level_logo":{
                  "type":"string",
                  "description":"Url to Guidestar.org seal image",
                  "example":"https://www.guidestar.org/App_Themes/MainSite2/images/ProfilePageSvgs/profile-PLATINUM2021-seal.svg"
               },
               "deductibility_code":{
                  "type":"string",
                  "description":"Deductibility code signifies whether contributions made to an organization are deductible",
                  "example":"1"
               },
               "deductibility_description":{
                  "type":"string",
                  "description":"Deductibility code description",
                  "example":"Contributions are deductible, as provided by law"
               },
               "donation_to_ein":{
                  "type":"string",
                  "description":"EIN that should be used for charitable donations",
                  "example":"13-1837418"
               },
               "donation_to_name":{
                  "type":"string",
                  "description":"Organization name that should be used for charitable donations",
                  "example":"Candid"
               },
               "areas_served_narrative":{
                  "type":"string",
                  "description":"DEPRECATED",
                  "example":"",
                  "deprecated":true
               },
               "ruling_year":{
                  "type":"string",
                  "description":"Year that organization started operating as a non-profit",
                  "example":"1957"
               },
               "gs_public_report":{
                  "type":"string",
                  "description":"Guidestar.org organization profile URL",
                  "example":"https://www.guidestar.org/profile/13-1837418"
               },
               "gs_pro_pdf":{
                  "type":"string",
                  "description":"URL of API call to the Pro PDF API endpoint to download the organization's profile PDF",
                  "example":"https://apidata.guidestar.org/premier/v1/propdf/13-1837418"
               },
               "gs_financial_trends_analysis_pdf":{
                  "type":"string",
                  "description":"URL of API call to the FTA PDF API endpoint to download the organization's financial trends analysis PDF",
                  "example":"https://apidata.guidestar.org/premier/v1/ftapdf/13-1837418"
               },
               "impact_statement":{
                  "type":"string",
                  "description":"DEPRECATED",
                  "example":"",
                  "deprecated":true
               },
               "subsection_code":{
                  "type":"string",
                  "description":"Subsection Codes are the codes shown under section 501(c) of the Internal Revenue Code of 1986, which define the category under which an organization may be exempt.",
                  "example":"03"
               },
               "subsection_description":{
                  "type":"string",
                  "description":"Description of organization subsection code",
                  "example":"501(c)(3) Public Charity"
               },
               "keywords":{
                  "type":"string",
                  "description":"Keywords added by the organization to their profile",
                  "example":"philanthropy, data, transparency, capacity building, research, education, foundations, foundation, charitable giving, data driven decisions, nonprofits, transparency, nonprofit sector, organizational effectiveness, organizational efficiency, nonprofit information hub, Forms 990, GuideStar, Foundation Center"
               },
               "logo_url":{
                  "type":"string",
                  "description":"Organization logo URL",
                  "example":"https://www.guidestar.org/ViewEdoc.aspx?eDocId=6645385&approved=True"
               },
               "mission":{
                  "type":"string",
                  "description":"Organization mission statement",
                  "example":"Candid gets you the information you need to do good."
               },
               "is_national_hq":{
                  "type":"boolean",
                  "description":"Whether or not this organization is the national headquarters",
                  "example":false
               },
               "ntee_code":{
                  "type":"string",
                  "description":"National Taxonomy of Exempt Entities (NTEE) Code",
                  "example":"T50 - Philanthropy, Voluntarism, and Grantmaking"
               },
               "website_url":{
                  "type":"string",
                  "description":"Organization website URL",
                  "example":"candid.org"
               },
               "year_founded":{
                  "type":"string",
                  "description":"Year that an organization was founded",
                  "example":"1956"
               },
               "year_incorporated":{
                  "type":"string",
                  "description":"Year that an organization was incorporated",
                  "example":"1956"
               },
               "is_non_bmf_org":{
                  "type":"boolean",
                  "description":"Is the organization not on the BMF",
                  "example":false
               },
               "first_on_bmf_date":{
                  "format":"date-time",
                  "type":"string",
                  "description":"First time organization appeared on the BMF",
                  "example":"1998-07-31T04:00:00Z"
               },
               "last_on_bmf_date":{
                  "format":"date-time",
                  "type":"string",
                  "description":"Last time an organization appeared on the BMF",
                  "example":"2021-04-12T04:00:00Z"
               },
               "profile_data_change_dates":{
                  "$ref":"#/components/schemas/ProfileDataChangeDates"
               },
               "addresses":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Address"
                  }
               },
               "affiliations":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/Affiliation"
                  }
               },
               "awards":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/Award"
                  }
               },
               "formerly_known_as":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/FormerName"
                  }
               },
               "forms_1023_1024":{
                  "type":"array",
                  "items":{
                     "type":"string",
                     "description":"Application for the organization to gain tax-exempt status",
                     "example":[
                        "https://www.guidestar.org/ViewEdoc.aspx?eDocId=7077922&approved=True"
                     ]
                  }
               },
               "letters_of_determination":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/LetterOfDetermination"
                  }
               },
               "letters_of_dissolution":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/LetterOfDissolution"
                  }
               },
               "ntee_codes":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/nteeCode"
                  }
               },
               "naics_code":{
                  "$ref":"#/components/schemas/NAICSCode"
               },
               "sic_codes":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/SICCode"
                  }
               },
               "platinum_evaluation_documents":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/PlatinumEvaluationDocument"
                  }
               },
               "other_documents":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/OtherDocument"
                  }
               },
               "photos":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/PhotoLink"
                  }
               },
               "social_media_urls":{
                  "type":"array",
                  "items":{
                     "type":"string",
                     "description":"A social media URL related to the organization",
                     "example":"https://www.facebook.com/CandidDotOrg/"
                  }
               },
               "telephone_numbers":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/TelephoneNumber"
                  }
               },
               "videos":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Video"
                  }
               }
            }
         },
         "Programs2":{
            "type":"object",
            "description":"Collection of an organizations programs and program metrics",
            "properties":{
               "programs":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Program2"
                  }
               },
               "platinum_metrics":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/PlatinumMetrics"
                  }
               },
               "charting_impact_answers":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Question"
                  }
               }
            }
         },
         "Program2":{
            "type":"object",
            "description":"Information about an organization's program as entered by the organization",
            "properties":{
               "name":{
                  "type":"string",
                  "description":"Program name",
                  "example":"Knowledge Tools"
               },
               "description":{
                  "type":"string",
                  "description":"Program description",
                  "example":"Through data, research, and our collective experience, Candid provides our users with the knowledge they need to make strategic decisions and develop practical solutions to achieve their missions. \n\nOur GuideStar searchable database currently includes data on 1.9 million 501c3 entities, making it easier to understand who they are and what they do. We support ongoing learning and research by gathering, indexing, and sharing the sector’s collective knowledge on IssueLab while also producing our own research that shares insights on issues affecting the social sector. We provide data and knowledge to the philanthropic field by creating new issue-based web portals known as “Foundation Landscapes” on the topics that matter most to the sector. Through Glasspockets we provide the data, resources, examples, and action steps foundations need to understand the value of transparency, be more open in their own communications, and help shed more light on how private organizations are serving the public good. Candid works closely with organizations around the globe to assist them in collecting and organizing their region’s philanthropy data by sharing what we have learned over the past 60 years about data acquisition and data architecture. \n\nCandid’s CF Insights program is the leader in data collection and research for the community foundation field in the U.S. with a reputation for benchmarking and analysis of trends. Through CF Insights, we continue to deliver a high level of service to our members and worked with partners to release groundbreaking research on the need for increased collaboration amongst leaders of community foundations.\n\nWe also have a number of blogs across our platforms (including the GuideStar blog, GrantSpace blog, GrantCraft blog, GlassPockets blog, Philanthropy News Digest Blog, and more!) that shine a light on relevant topics and trends affecting the sector."
               },
               "target_population":{
                  "type":"string",
                  "description":"First target population that the program is targeting",
                  "example":"General/Unspecified"
               },
               "budget":{
                  "type":"string",
                  "description":"Program budget in dollars",
                  "example":"3002061"
               },
               "areas_served":{
                  "type":"array",
                  "description":"Geographic area served by program",
                  "items":{
                     "type":"string",
                     "description":"Name of the geographic area served by the program",
                     "example":"United States"
                  }
               }
            }
         },
         "Summary3":{
            "type":"object",
            "description":"Information about the non-profit, such as name and address",
            "properties":{
               "organization_id":{
                  "type":"integer",
                  "description":"GuideStar internal organization ID",
                  "example":6908122
               },
               "organization_name":{
                  "type":"string",
                  "description":"Organization name",
                  "example":"Candid"
               },
               "ein":{
                  "type":"string",
                  "description":"Employee identification number",
                  "example":"13-1837418"
               },
               "bridge_id":{
                  "type":"string",
                  "description":"DEPRECATED",
                  "example":"",
                  "deprecated":true
               },
               "address_line_1":{
                  "type":"string",
                  "description":"Organization address street name",
                  "example":"32 Old Slip"
               },
               "address_line_2":{
                  "type":"string",
                  "description":"Organization address Suite or Apartment number",
                  "example":"24th Floor"
               },
               "city":{
                  "type":"string",
                  "description":"Organization address city",
                  "example":"New York"
               },
               "state":{
                  "type":"string",
                  "description":"Organization address state",
                  "example":"NY"
               },
               "zip":{
                  "type":"string",
                  "description":"Organization address zip code",
                  "example":"10005"
               },
               "county":{
                  "type":"string",
                  "description":"Organization address county",
                  "example":"New York"
               },
               "latitude":{
                  "type":"string",
                  "description":"Latitude of the center of the zip code of an organizations mailing address",
                  "example":"40.705966"
               },
               "longitude":{
                  "type":"string",
                  "description":"Longitude of the center of the zip code of an organizations mailing address",
                  "example":"-74.008849"
               },
               "fax":{
                  "type":"string",
                  "description":"Organization fax number",
                  "example":"(212)807-3677"
               },
               "govt_registered_name":{
                  "type":"string",
                  "description":"Legal organization name",
                  "example":"Candid"
               },
               "also_known_as":{
                  "type":"string",
                  "description":"Comma separated string of names associated with the organization",
                  "example":"The Foundation Center,  Foundation Center, GuideStar, GuideStar USA"
               },
               "fiscal_year_end":{
                  "type":"string",
                  "description":"When the fiscal year ends for the organization",
                  "example":"Dec 31"
               },
               "fiscal_year_start":{
                  "type":"string",
                  "description":"When the fiscal year begins for the organization",
                  "example":"Jan 1"
               },
               "affiliation_code":{
                  "type":"string",
                  "description":"Single digit code designating the type of organization (Central, Intermediate, or Independent) if there is no group exemption or (Central, Intermediate, Independent, or Subordinate) if there is a group exemption.",
                  "example":"3"
               },
               "affiliation_description":{
                  "type":"string",
                  "description":"Description of what the affiliation code means",
                  "example":"This code is used if the organization is an independent organization or an independent auxiliary (i.e., not affiliated with a a National, Regional, or Geographic grouping of organizations)."
               },
               "contact_name":{
                  "type":"string",
                  "description":"Primary contact name",
                  "example":"Gabe Cohen"
               },
               "contact_title":{
                  "type":"string",
                  "description":"Primary contact title",
                  "example":"Senior Director of Brand and Marketing"
               },
               "contact_email":{
                  "type":"string",
                  "description":"Primary contact email",
                  "example":"answers@candid.org"
               },
               "contact_phone":{
                  "type":"string",
                  "description":"Primary contact phone number",
                  "example":"212-620-4230"
               },
               "contact_fax":{
                  "type":"string",
                  "description":"Primary contact fax number",
                  "example":"212-807-3677"
               },
               "gs_profile_update_level":{
                  "type":"string",
                  "description":"Guidestar.org organization profile seal of transparency level",
                  "example":"Platinum 2021"
               },
               "gs_profile_update_level_logo":{
                  "type":"string",
                  "description":"Url to Guidestar.org seal image",
                  "example":"https://www.guidestar.org/App_Themes/MainSite2/images/ProfilePageSvgs/profile-PLATINUM2021-seal.svg"
               },
               "deductibility_code":{
                  "type":"string",
                  "description":"Deductibility code signifies whether contributions made to an organization are deductible",
                  "example":"1"
               },
               "deductibility_description":{
                  "type":"string",
                  "description":"Deductibility code description",
                  "example":"Contributions are deductible, as provided by law"
               },
               "donation_to_ein":{
                  "type":"string",
                  "description":"EIN that should be used for charitable donations",
                  "example":"13-1837418"
               },
               "donation_to_name":{
                  "type":"string",
                  "description":"Organization name that should be used for charitable donations",
                  "example":"Candid"
               },
               "areas_served_narrative":{
                  "type":"string",
                  "description":"DEPRECATED",
                  "example":"",
                  "deprecated":true
               },
               "ruling_year":{
                  "type":"string",
                  "description":"Year that organization started operating as a non-profit",
                  "example":"1957"
               },
               "gs_public_report":{
                  "type":"string",
                  "description":"Guidestar.org organization profile URL",
                  "example":"https://www.guidestar.org/profile/13-1837418"
               },
               "gs_pro_pdf":{
                  "type":"string",
                  "description":"URL of API call to the Pro PDF API endpoint to download the organization's profile PDF",
                  "example":"https://apidata.guidestar.org/premier/v1/propdf/13-1837418"
               },
               "gs_financial_trends_analysis_pdf":{
                  "type":"string",
                  "description":"URL of API call to the FTA PDF API endpoint to download the organization's financial trends analysis PDF",
                  "example":"https://apidata.guidestar.org/premier/v1/ftapdf/13-1837418"
               },
               "impact_statement":{
                  "type":"string",
                  "description":"DEPRECATED",
                  "example":"",
                  "deprecated":true
               },
               "subsection_code":{
                  "type":"string",
                  "description":"Subsection Codes are the codes shown under section 501(c) of the Internal Revenue Code of 1986, which define the category under which an organization may be exempt.",
                  "example":"03"
               },
               "subsection_description":{
                  "type":"string",
                  "description":"Description of organization subsection code",
                  "example":"501(c)(3) Public Charity"
               },
               "keywords":{
                  "type":"string",
                  "description":"Keywords added by the organization to their profile",
                  "example":"philanthropy, data, transparency, capacity building, research, education, foundations, foundation, charitable giving, data driven decisions, nonprofits, transparency, nonprofit sector, organizational effectiveness, organizational efficiency, nonprofit information hub, Forms 990, GuideStar, Foundation Center"
               },
               "logo_url":{
                  "type":"string",
                  "description":"Organization logo URL",
                  "example":"https://www.guidestar.org/ViewEdoc.aspx?eDocId=6645385&approved=True"
               },
               "mission":{
                  "type":"string",
                  "description":"Organization mission statement",
                  "example":"Candid gets you the information you need to do good."
               },
               "is_national_hq":{
                  "type":"boolean",
                  "description":"Whether or not this organization is the national headquarters",
                  "example":false
               },
               "demographics_status":{
                  "type":"string",
                  "description":"Description of demographics status that can be displayed to a funder or donor",
                  "example":"This organization has provided Candid demographics data on 06/23/2023"
               },
               "demographics_status_nonprofit":{
                  "type":"string",
                  "description":"Description of demographics status that can be displayed to a nonprofit",
                  "example":"Your organization has provided Candid demographics data on 06/23/2023"
               },
               "ntee_code":{
                  "type":"string",
                  "description":"National Taxonomy of Exempt Entities (NTEE) Code",
                  "example":"T50 - Philanthropy, Voluntarism, and Grantmaking"
               },
               "sdg":{
                  "$ref":"#/components/schemas/SDG"
               },
               "website_url":{
                  "type":"string",
                  "description":"Organization website URL",
                  "example":"candid.org"
               },
               "year_founded":{
                  "type":"string",
                  "description":"Year that an organization was founded",
                  "example":"1956"
               },
               "year_incorporated":{
                  "type":"string",
                  "description":"Year that an organization was incorporated",
                  "example":"1956"
               },
               "is_non_bmf_org":{
                  "type":"boolean",
                  "description":"Is the organization not on the BMF",
                  "example":false
               },
               "first_on_bmf_date":{
                  "format":"date-time",
                  "type":"string",
                  "description":"First time organization appeared on the BMF",
                  "example":"1998-07-31T04:00:00Z"
               },
               "last_on_bmf_date":{
                  "format":"date-time",
                  "type":"string",
                  "description":"Last time an organization appeared on the BMF",
                  "example":"2021-04-12T04:00:00Z"
               },
               "profile_data_change_dates":{
                  "$ref":"#/components/schemas/ProfileDataChangeDates"
               },
               "addresses":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Address"
                  }
               },
               "affiliations":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/Affiliation"
                  }
               },
               "awards":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/Award"
                  }
               },
               "formerly_known_as":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/FormerName"
                  }
               },
               "forms_1023_1024":{
                  "type":"array",
                  "items":{
                     "type":"string",
                     "description":"Application for the organization to gain tax-exempt status",
                     "example":[
                        "https://www.guidestar.org/ViewEdoc.aspx?eDocId=7077922&approved=True"
                     ]
                  }
               },
               "letters_of_determination":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/LetterOfDetermination"
                  }
               },
               "letters_of_dissolution":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/LetterOfDissolution"
                  }
               },
               "ntee_codes":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/nteeCode"
                  }
               },
               "naics_code":{
                  "$ref":"#/components/schemas/NAICSCode"
               },
               "sic_codes":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/SICCode"
                  }
               },
               "platinum_evaluation_documents":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/PlatinumEvaluationDocument"
                  }
               },
               "other_documents":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/OtherDocument"
                  }
               },
               "photos":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/PhotoLink"
                  }
               },
               "social_media_urls":{
                  "type":"array",
                  "items":{
                     "type":"string",
                     "description":"A social media URL related to the organization",
                     "example":"https://www.facebook.com/CandidDotOrg/"
                  }
               },
               "telephone_numbers":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/TelephoneNumber"
                  }
               },
               "videos":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Video"
                  }
               },
               "org_collect_feedback":{
                  "type":"boolean",
                  "description":"Has this organization filled the 'How we listen' section of their profile",
                  "example":true
               },
               "org_feedback_example":{
                  "type":"string",
                  "description":"Response to 'How is your organization collecting feedback?'",
                  "example":"We collect org feedback through customer surveys"
               },
               "org_quiz_interest":{
                  "type":"boolean",
                  "description":"Did the organization indicate they had an interest in taking guidestar's feedback quiz",
                  "example":false
               },
               "org_learn_more":{
                  "type":"boolean",
                  "description":"Did the organization indicate they had an interest in learning more about feedback practices",
                  "example":false
               },
               "feedback_responses":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/FBResponseText"
                  }
               },
               "pcs_codes":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/PCS"
                  }
               },
               "profile_sdg_codes":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/SDG"
                  }
               }
            }
         },
         "Programs3":{
            "type":"object",
            "description":"Collection of an organizations programs and program metrics",
            "properties":{
               "programs":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Program3"
                  }
               },
               "platinum_metrics":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/PlatinumMetrics"
                  }
               },
               "charting_impact_answers":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Question"
                  }
               }
            }
         },
         "Financials3":{
            "type":"object",
            "description":"Organization financial information",
            "properties":{
               "most_recent_year_financials":{
                  "$ref":"#/components/schemas/CurrentFinancial"
               },
               "f990_financials":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/FinancialF990_3"
                  }
               },
               "pf990_financials":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Financial990PF"
                  }
               },
               "f990ez_financials":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/FinancialF990EZ"
                  }
               },
               "financial_trends_analysis":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/FinancialTrends"
                  }
               },
               "financial_documents":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Fin_Doc"
                  }
               },
               "forms_990T":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Form990T"
                  }
               },
               "funding_needs":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/FundingNeed"
                  }
               },
               "funding_sources":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/FundingSource"
                  }
               },
               "financial_statements":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/FinancialStatement"
                  }
               },
               "annual_reports":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/AnnualReport"
                  }
               },
               "accounting_ratios":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Ratios"
                  }
               }
            }
         },
         "Financials2":{
            "type":"object",
            "description":"Organization financial information",
            "properties":{
               "most_recent_year_financials":{
                  "$ref":"#/components/schemas/CurrentFinancial"
               },
               "f990_financials":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/FinancialF990_2"
                  }
               },
               "pf990_financials":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Financial990PF"
                  }
               },
               "f990ez_financials":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/FinancialF990EZ"
                  }
               },
               "financial_trends_analysis":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/FinancialTrends"
                  }
               },
               "financial_documents":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Fin_Doc"
                  }
               },
               "forms_990T":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Form990T"
                  }
               },
               "funding_needs":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/FundingNeed"
                  }
               },
               "funding_sources":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/FundingSource"
                  }
               },
               "financial_statements":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/FinancialStatement"
                  }
               },
               "annual_reports":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/AnnualReport"
                  }
               },
               "accounting_ratios":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Ratios"
                  }
               }
            }
         },
         "Financials1":{
            "type":"object",
            "description":"Organization financial information",
            "properties":{
               "most_recent_year_financials":{
                  "$ref":"#/components/schemas/CurrentFinancial1"
               },
               "f990_financials":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/FinancialF990_1"
                  }
               },
               "pf990_financials":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Financial990PF"
                  }
               },
               "financial_documents":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Fin_Doc"
                  }
               },
               "forms_990T":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Form990T"
                  }
               },
               "funding_needs":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/FundingNeed"
                  }
               },
               "funding_sources":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/FundingSource"
                  }
               },
               "financial_statements":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/FinancialStatement"
                  }
               },
               "annual_reports":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/AnnualReport"
                  }
               },
               "accounting_ratios":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Ratios"
                  }
               }
            }
         },
         "Operations1":{
            "type":"object",
            "description":"Organization operations information",
            "properties":{
               "leader_name":{
                  "type":"string",
                  "description":"Organization leader name",
                  "example":"Mr. Bradford K. Smith"
               },
               "leader_profile":{
                  "type":"string",
                  "description":"Organization leader profile",
                  "example":"Bradford K. Smith leads Candid as its President. Mr. Smith joined Candid (formerly Foundation Center) as President in October 2008.\n\nPreviously, he was president of the Oak Foundation in Geneva, Switzerland. Prior to that, he developed and led Ford Foundation's Peace and Social Justice Program. During his 10-year tenure as vice president, he distributed hundreds of millions of dollars to organizations working on human rights, international cooperation, governance, and civil society in the U.S. and around the world.\n\nMr. Smith has devoted his entire career to the philanthropic and nonprofit sectors. He serves on the board of directors of the Tinker Foundation and the advisory board of the United Nations Trust Fund for Human Security. He holds an M.A. in economics from the New School for Social Research in New York and a B.A. in anthropology and ethnomusicology from the University of Michigan."
               },
               "co_leader_name":{
                  "type":"string",
                  "description":"Organization co-leader name",
                  "example":""
               },
               "co_leader_profile":{
                  "type":"string",
                  "description":"Organization co-leader profile",
                  "example":""
               },
               "no_of_employees":{
                  "format":"int32",
                  "type":"integer",
                  "description":"Number of employees of the organization",
                  "example":178
               },
               "no_of_volunteers":{
                  "format":"int32",
                  "type":"integer",
                  "description":"Number of volunteers at an organization",
                  "example":15
               },
               "organization_email":{
                  "type":"string",
                  "description":"DEPRECATED",
                  "example":"",
                  "deprecated":true
               },
               "organization_details_year":{
                  "format":"int32",
                  "type":"integer",
                  "description":"The year details in operations are from",
                  "example":2018
               },
               "officers_directors_key_employees":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Person"
                  }
               },
               "highest_paid_employees":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Person"
                  }
               },
               "employees_greater_than_100K":{
                  "format":"int32",
                  "type":"integer",
                  "description":"Number of employees that are paid at least $100k",
                  "example":8
               },
               "board_chair_name":{
                  "type":"string",
                  "description":"Name of the board chairperson",
                  "example":"T. Sylvester John"
               },
               "board_chair_affiliation":{
                  "type":"string",
                  "description":"Company board chairperson is associated with",
                  "example":"Walmart"
               },
               "board_chair_term_start":{
                  "type":"string",
                  "description":"Start year of board chair term",
                  "example":"2017"
               },
               "board_chair_term_end":{
                  "type":"string",
                  "description":"End year of board chair term",
                  "example":"2019"
               },
               "board_co_chair_name":{
                  "type":"string",
                  "description":"Name of board co-chairperson",
                  "example":"T. Sylvester John"
               },
               "board_co_chair_affiliation":{
                  "type":"string",
                  "description":"Company board co-chairperson is associated with",
                  "example":"Walmart"
               },
               "board_co_chair_term_start":{
                  "type":"string",
                  "description":"Start year of board co-chair term",
                  "example":"2017"
               },
               "board_co_chair_term_end":{
                  "type":"string",
                  "description":"End year of board co-chair term",
                  "example":"2019"
               },
               "board_of_directors":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/BoardMember"
                  }
               },
               "board_leadership_practices":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Question"
                  }
               },
               "organization_demographics":{
                  "$ref":"#/components/schemas/OrganizationDemographics"
               },
               "contractors":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Contractor"
                  }
               },
               "blog_url":{
                  "type":"string",
                  "description":"URL of organization blog",
                  "example":"https://blog.candid.org/"
               },
               "fundraising_contact_name":{
                  "type":"string",
                  "description":"Name of primary fundraising contact",
                  "example":"Aleda Gagarin"
               },
               "fundraising_contact_title":{
                  "type":"string",
                  "description":"Title of primary fundraising contact",
                  "example":"Senior Director of Development"
               },
               "fundraising_contact_email":{
                  "type":"string",
                  "description":"Email address of primary fundraising contact",
                  "example":"donate@candid.org"
               },
               "fundraising_contact_phone":{
                  "type":"string",
                  "description":"Phone number of primary fundraising contact",
                  "example":"212 620-4230"
               },
               "preparer_firm_name":{
                  "type":"string",
                  "description":"Tax preparation firm name",
                  "example":"PKF O'CONNOR DAVIES LLP"
               },
               "preparer_firm_address":{
                  "type":"string",
                  "description":"Tax preparation firm address",
                  "example":"500 MAMARONECK AVENUE HARRISON NY 105281633"
               },
               "preparer_firm_ein":{
                  "type":"string",
                  "description":"Tax preparation firm EIN",
                  "example":"27-1728945"
               },
               "preparer_firm_phone":{
                  "type":"string",
                  "description":"Tax preparation firm phone number",
                  "example":"914-381-8900"
               },
               "senior_staff":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/SeniorStaff"
                  }
               },
               "other_staff":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/OtherStaff"
                  }
               },
               "accreditations":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/Accreditation"
                  }
               }
            }
         },
         "Operations2":{
            "type":"object",
            "description":"Organization operations information",
            "properties":{
               "leader_name":{
                  "type":"string",
                  "description":"Organization leader name",
                  "example":"Mr. Bradford K. Smith"
               },
               "leader_profile":{
                  "type":"string",
                  "description":"Organization leader profile",
                  "example":"Bradford K. Smith leads Candid as its President. Mr. Smith joined Candid (formerly Foundation Center) as President in October 2008.\n\nPreviously, he was president of the Oak Foundation in Geneva, Switzerland. Prior to that, he developed and led Ford Foundation's Peace and Social Justice Program. During his 10-year tenure as vice president, he distributed hundreds of millions of dollars to organizations working on human rights, international cooperation, governance, and civil society in the U.S. and around the world.\n\nMr. Smith has devoted his entire career to the philanthropic and nonprofit sectors. He serves on the board of directors of the Tinker Foundation and the advisory board of the United Nations Trust Fund for Human Security. He holds an M.A. in economics from the New School for Social Research in New York and a B.A. in anthropology and ethnomusicology from the University of Michigan."
               },
               "co_leader_name":{
                  "type":"string",
                  "description":"Organization co-leader name",
                  "example":""
               },
               "co_leader_profile":{
                  "type":"string",
                  "description":"Organization co-leader profile",
                  "example":""
               },
               "no_of_employees":{
                  "format":"int32",
                  "type":"integer",
                  "description":"Number of employees of the organization",
                  "example":178
               },
               "no_of_volunteers":{
                  "format":"int32",
                  "type":"integer",
                  "description":"Number of volunteers at an organization",
                  "example":15
               },
               "organization_email":{
                  "type":"string",
                  "description":"DEPRECATED",
                  "example":"",
                  "deprecated":true
               },
               "organization_details_year":{
                  "format":"int32",
                  "type":"integer",
                  "description":"The year details in operations are from",
                  "example":2018
               },
               "officers_directors_key_employees":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Person"
                  }
               },
               "highest_paid_employees":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Person"
                  }
               },
               "employees_greater_than_100K":{
                  "format":"int32",
                  "type":"integer",
                  "description":"Number of employees that are paid at least $100k",
                  "example":8
               },
               "board_chair_name":{
                  "type":"string",
                  "description":"Name of the board chairperson",
                  "example":"T. Sylvester John"
               },
               "board_chair_affiliation":{
                  "type":"string",
                  "description":"Company board chairperson is associated with",
                  "example":"Walmart"
               },
               "board_chair_term_start":{
                  "type":"string",
                  "description":"Start year of board chair term",
                  "example":"2017"
               },
               "board_chair_term_end":{
                  "type":"string",
                  "description":"End year of board chair term",
                  "example":"2019"
               },
               "board_co_chair_name":{
                  "type":"string",
                  "description":"Name of board co-chairperson",
                  "example":"T. Sylvester John"
               },
               "board_co_chair_affiliation":{
                  "type":"string",
                  "description":"Company board co-chairperson is associated with",
                  "example":"Walmart"
               },
               "board_co_chair_term_start":{
                  "type":"string",
                  "description":"Start year of board co-chair term",
                  "example":"2017"
               },
               "board_co_chair_term_end":{
                  "type":"string",
                  "description":"End year of board co-chair term",
                  "example":"2019"
               },
               "board_of_directors":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/BoardMember"
                  }
               },
               "board_leadership_practices":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Question"
                  }
               },
               "organization_demographics":{
                  "$ref":"#/components/schemas/OrganizationDemographics"
               },
               "demographics":{
                  "$ref":"#/components/schemas/DEI2Demographics"
               },
               "contractors":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Contractor"
                  }
               },
               "blog_url":{
                  "type":"string",
                  "description":"URL of organization blog",
                  "example":"https://blog.candid.org/"
               },
               "fundraising_contact_name":{
                  "type":"string",
                  "description":"Name of primary fundraising contact",
                  "example":"Aleda Gagarin"
               },
               "fundraising_contact_title":{
                  "type":"string",
                  "description":"Title of primary fundraising contact",
                  "example":"Senior Director of Development"
               },
               "fundraising_contact_email":{
                  "type":"string",
                  "description":"Email address of primary fundraising contact",
                  "example":"donate@candid.org"
               },
               "fundraising_contact_phone":{
                  "type":"string",
                  "description":"Phone number of primary fundraising contact",
                  "example":"212 620-4230"
               },
               "preparer_firm_name":{
                  "type":"string",
                  "description":"Tax preparation firm name",
                  "example":"PKF O'CONNOR DAVIES LLP"
               },
               "preparer_firm_address":{
                  "type":"string",
                  "description":"Tax preparation firm address",
                  "example":"500 MAMARONECK AVENUE HARRISON NY 105281633"
               },
               "preparer_firm_ein":{
                  "type":"string",
                  "description":"Tax preparation firm EIN",
                  "example":"27-1728945"
               },
               "preparer_firm_phone":{
                  "type":"string",
                  "description":"Tax preparation firm phone number",
                  "example":"914-381-8900"
               },
               "senior_staff":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/SeniorStaff"
                  }
               },
               "other_staff":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/OtherStaff"
                  }
               },
               "accreditations":{
                  "type":"array",
                  "deprecated":true,
                  "items":{
                     "$ref":"#/components/schemas/Accreditation"
                  }
               }
            }
         },
         "CharityCheck":{
            "type":"object",
            "description":"Organization Charity Check information",
            "properties":{
               "organization_id":{
                  "type":"string",
                  "description":"A unique number identifying organizations and organizational entities.",
                  "example":"6908122"
               },
               "organization_info_last_modified":{
                  "type":"string",
                  "description":"Date the organization’s information was last updated.",
                  "example":"4/15/2021 12:22:44 PM"
               },
               "ein":{
                  "type":"string",
                  "description":"Employer Identification Number.",
                  "example":"13-1837418"
               },
               "organization_name":{
                  "type":"string",
                  "description":"The public name recognized by the IRS.",
                  "example":"Candid"
               },
               "organization_name_aka":{
                  "type":"string",
                  "description":"Organization name \"Also Known As\" ",
                  "example":"The Foundation Center,  Foundation Center, GuideStar, GuideStar USA"
               },
               "address_line1":{
                  "type":"string",
                  "description":"Address of the organization.",
                  "example":"32 Old Slip"
               },
               "address_line2":{
[...]
