{
  "openapi": "3.0.1",
  "info": {
    "title": "Premier API",
    "description": "Enhance your apps, records, or experience with robust nonprofit profile financials, people, DEI, and IRS compliance validation.",
    "license": {
      "name": "Candid API License Agreement"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.candid.org/premier"
    },
    {
      "url": "https://apidata.guidestar.org/premier"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {
    "/v1/{ein}": {
      "get": {
        "summary": "/premier/v1",
        "description": "Use an EIN in the path parameter to retrieve data on a nonprofit's financials, people, DEI, and IRS compliance validation. This endpoint is deprecated; use /premier/v3 instead.",
        "operationId": "premier_v1",
        "parameters": [
          {
            "name": "ein",
            "in": "path",
            "description": "Employer Identification Number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "13-1837418"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1PublicProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "No Results Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAcceptable"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v1/propdf/{ein}": {
      "get": {
        "summary": "/premier/v1/propdf",
        "description": "Use an EIN in the path parameter to retrieve a PDF of a nonprofit's financials, people, DEI, and IRS compliance validation.",
        "operationId": "premier_v1_propdf",
        "parameters": [
          {
            "name": "ein",
            "in": "path",
            "description": "Employer Identification Number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "13-1837418"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "object",
                  "description": "PDF containing information for the organization with the given ein"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "No Results Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAcceptable"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ftapdf/{ein}": {
      "get": {
        "summary": "/premier/v1/ftapdf",
        "description": "Use an EIN in the path parameter to get a PDF of a nonprofit's financial trends analysis.",
        "operationId": "premier_v1_ftapdf",
        "parameters": [
          {
            "name": "ein",
            "in": "path",
            "description": "Employer Identification Number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "13-1837418"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "object",
                  "description": "PDF containing financial analysis trend for the organization with the given ein"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "No Results Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAcceptable"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{ein}": {
      "get": {
        "summary": "/premier/v2",
        "description": "Use an EIN in the path parameter to retrieve data on a nonprofit's financials, people, DEI, and IRS compliance validation. This endpoint is deprecated; use /premier/v3 instead.",
        "operationId": "premier_v2",
        "parameters": [
          {
            "name": "ein",
            "in": "path",
            "description": "Employer Identification Number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "13-1837418"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2PublicProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "No Results Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAcceptable"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v3/{ein}": {
      "get": {
        "summary": "/premier/v3",
        "description": "Use an EIN in the path parameter to retrieve data on a nonprofit's financials, people, DEI, and IRS compliance validation.",
        "operationId": "premier_v3",
        "parameters": [
          {
            "name": "ein",
            "in": "path",
            "description": "Employer Identification Number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            },
            "example": "13-1837418"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3PublicProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "No Results Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAcceptable"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "LetterOfDetermination": {
        "type": "object",
        "properties": {
          "letter_of_determination_url": {
            "type": "string",
            "description": "URL to the letter of determination",
            "example": "https://www.guidestar.org/ViewEdoc.aspx?eDocId=6645380&approved=True",
            "x-ballerina-name": "letterOfDeterminationUrl"
          },
          "letter_of_determination_doc_name": {
            "type": "string",
            "description": "Document name of the letter of determination",
            "example": "Candid IRS Letter of Determination",
            "x-ballerina-name": "letterOfDeterminationDocName"
          }
        },
        "description": "IRS letter of determination information"
      },
      "Summary1": {
        "type": "object",
        "properties": {
          "other_documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OtherDocument"
            },
            "x-ballerina-name": "otherDocuments"
          },
          "naics_code": {
            "allOf": [
              {
                "$ref": "#/components/schemas/NAICSCode"
              }
            ],
            "x-ballerina-name": "naicsCode"
          },
          "fiscal_year_end": {
            "type": "string",
            "description": "When the fiscal year ends for the organization",
            "example": "Dec 31",
            "x-ballerina-name": "fiscalYearEnd"
          },
          "fiscal_year_start": {
            "type": "string",
            "description": "When the fiscal year begins for the organization",
            "example": "Jan 1",
            "x-ballerina-name": "fiscalYearStart"
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "contact_phone": {
            "type": "string",
            "description": "Primary contact phone number",
            "example": "212-620-4230",
            "x-ballerina-name": "contactPhone"
          },
          "keywords": {
            "type": "string",
            "description": "Keywords added by the organization to their profile",
            "example": "philanthropy, data, transparency, capacity building, research, education, foundations, foundation, charitable giving, data driven decisions, nonprofits, transparency, nonprofit sector, organizational effectiveness, organizational efficiency, nonprofit information hub, Forms 990, GuideStar, Foundation Center"
          },
          "social_media_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "A social media URL related to the organization",
              "example": "https://www.facebook.com/CandidDotOrg/"
            },
            "x-ballerina-name": "socialMediaUrls"
          },
          "logo_url": {
            "type": "string",
            "description": "Organization logo URL",
            "example": "https://www.guidestar.org/ViewEdoc.aspx?eDocId=6645385&approved=True",
            "x-ballerina-name": "logoUrl"
          },
          "donation_to_ein": {
            "type": "string",
            "description": "EIN that should be used for charitable donations",
            "example": "13-1837418",
            "x-ballerina-name": "donationToEin"
          },
          "affiliation_description": {
            "type": "string",
            "description": "Description of what the affiliation code means",
            "example": "This code is used if the organization is an independent organization or an independent auxiliary (i.e., not affiliated with a a National, Regional, or Geographic grouping of organizations).",
            "x-ballerina-name": "affiliationDescription"
          },
          "areas_served_narrative": {
            "type": "string",
            "description": "DEPRECATED",
            "example": "",
            "deprecated": true,
            "x-ballerina-name": "areasServedNarrative"
          },
          "contact_fax": {
            "type": "string",
            "description": "Primary contact fax number",
            "example": "212-807-3677",
            "x-ballerina-name": "contactFax"
          },
          "subsection_description": {
            "type": "string",
            "description": "Description of organization subsection code",
            "example": "501(c)(3) Public Charity",
            "x-ballerina-name": "subsectionDescription"
          },
          "videos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Video"
            }
          },
          "impact_statement": {
            "type": "string",
            "description": "DEPRECATED",
            "example": "",
            "deprecated": true,
            "x-ballerina-name": "impactStatement"
          },
          "ntee_codes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NteeCode"
            },
            "x-ballerina-name": "nteeCodes"
          },
          "photos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhotoLink"
            }
          },
          "telephone_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TelephoneNumber"
            },
            "x-ballerina-name": "telephoneNumbers"
          },
          "gs_profile_update_level_logo": {
            "type": "string",
            "description": "Url to Guidestar.org seal image",
            "example": "https://www.guidestar.org/App_Themes/MainSite2/images/ProfilePageSvgs/profile-PLATINUM2021-seal.svg",
            "x-ballerina-name": "gsProfileUpdateLevelLogo"
          },
          "subsection_code": {
            "type": "string",
            "description": "Subsection Codes are the codes shown under section 501(c) of the Internal Revenue Code of 1986, which define the category under which an organization may be exempt",
            "example": "03",
            "x-ballerina-name": "subsectionCode"
          },
          "state": {
            "type": "string",
            "description": "Organization address state",
            "example": "NY"
          },
          "fax": {
            "type": "string",
            "description": "Organization fax number",
            "example": "(212)807-3677"
          },
          "zip": {
            "type": "string",
            "description": "Organization address zip code",
            "example": "10005"
          },
          "letters_of_determination": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LetterOfDetermination"
            },
            "x-ballerina-name": "lettersOfDetermination"
          },
          "formerly_known_as": {
            "type": "array",
            "deprecated": true,
            "items": {
              "$ref": "#/components/schemas/FormerName"
            },
            "x-ballerina-name": "formerlyKnownAs"
          },
          "year_incorporated": {
            "type": "string",
            "description": "Year that an organization was incorporated",
            "example": "1956",
            "x-ballerina-name": "yearIncorporated"
          },
          "organization_name": {
            "type": "string",
            "description": "Organization name",
            "example": "Candid",
            "x-ballerina-name": "organizationName"
          },
          "ntee_code": {
            "type": "string",
            "description": "National Taxonomy of Exempt Entities (NTEE) Code",
            "example": "T50 - Philanthropy, Voluntarism, and Grantmaking",
            "x-ballerina-name": "nteeCode"
          },
          "mission": {
            "type": "string",
            "description": "Organization mission statement",
            "example": "Candid gets you the information you need to do good."
          },
          "gs_profile_update_level": {
            "type": "string",
            "description": "Guidestar.org organization profile seal of transparency level",
            "example": "Platinum 2021",
            "x-ballerina-name": "gsProfileUpdateLevel"
          },
          "organization_id": {
            "type": "integer",
            "description": "GuideStar internal organization ID",
            "example": 6908122,
            "x-ballerina-name": "organizationId"
          },
          "contact_title": {
            "type": "string",
            "description": "Primary contact title",
            "example": "Senior Director of Brand and Marketing",
            "x-ballerina-name": "contactTitle"
          },
          "deductibility_description": {
            "type": "string",
            "description": "Deductibility code description",
            "example": "Contributions are deductible, as provided by law",
            "x-ballerina-name": "deductibilityDescription"
          },
          "city": {
            "type": "string",
            "description": "Organization address city",
            "example": "New York"
          },
          "ruling_year": {
            "type": "string",
            "description": "Year that organization started operating as a non-profit",
            "example": "1957",
            "x-ballerina-name": "rulingYear"
          },
          "year_founded": {
            "type": "string",
            "description": "Year that an organization was founded",
            "example": "1956",
            "x-ballerina-name": "yearFounded"
          },
          "affiliations": {
            "type": "array",
            "deprecated": true,
            "items": {
              "$ref": "#/components/schemas/Affiliation"
            }
          },
          "ein": {
            "type": "string",
            "description": "Employee identification number",
            "example": "13-1837418"
          },
          "gs_public_report": {
            "type": "string",
            "description": "Guidestar.org organization profile URL",
            "example": "https://www.guidestar.org/profile/13-1837418",
            "x-ballerina-name": "gsPublicReport"
          },
          "contact_email": {
            "type": "string",
            "description": "Primary contact email",
            "example": "answers@candid.org",
            "x-ballerina-name": "contactEmail"
          },
          "letters_of_dissolution": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LetterOfDissolution"
            },
            "x-ballerina-name": "lettersOfDissolution"
          },
          "sic_codes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SICCode"
            },
            "x-ballerina-name": "sicCodes"
          },
          "address_line_1": {
            "type": "string",
            "description": "Organization address street name",
            "example": "32 Old Slip",
            "x-ballerina-name": "addressLine1"
          },
          "address_line_2": {
            "type": "string",
            "description": "Organization address Suite or Apartment number",
            "example": "24th Floor",
            "x-ballerina-name": "addressLine2"
          },
          "govt_registered_name": {
            "type": "string",
            "description": "Legal organization name",
            "example": "Candid",
            "x-ballerina-name": "govtRegisteredName"
          },
          "also_known_as": {
            "type": "string",
            "description": "Comma separated string of names associated with the organization",
            "example": "The Foundation Center,  Foundation Center, GuideStar, GuideStar USA",
            "x-ballerina-name": "alsoKnownAs"
          },
          "contact_name": {
            "type": "string",
            "description": "Primary contact name",
            "example": "Gabe Cohen",
            "x-ballerina-name": "contactName"
          },
          "forms_1023_1024": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Application for the organization to gain tax-exempt status",
              "example": "[\"https://www.guidestar.org/ViewEdoc.aspx?eDocId=7077922&approved=True\"]"
            },
            "x-ballerina-name": "forms10231024"
          },
          "gs_pro_pdf": {
            "type": "string",
            "description": "URL of API call to the Pro PDF API endpoint to download the organization's profile PDF",
            "example": "https://apidata.guidestar.org/premier/v1/propdf/13-1837418",
            "x-ballerina-name": "gsProPdf"
          },
          "is_national_hq": {
            "type": "boolean",
            "description": "Whether or not this organization is the national headquarters",
            "example": false,
            "x-ballerina-name": "isNationalHq"
          },
          "affiliation_code": {
            "type": "string",
            "description": "Single digit code designating the type of organization (Central, Intermediate, or Independent) if there is no group exemption or (Central, Intermediate, Independent, or Subordinate) if there is a group exemption",
            "example": "3",
            "x-ballerina-name": "affiliationCode"
          },
          "donation_to_name": {
            "type": "string",
            "description": "Organization name that should be used for charitable donations",
            "example": "Candid",
            "x-ballerina-name": "donationToName"
          },
          "website_url": {
            "type": "string",
            "description": "Organization website URL",
            "example": "candid.org",
            "x-ballerina-name": "websiteUrl"
          },
          "awards": {
            "type": "array",
            "deprecated": true,
            "items": {
              "$ref": "#/components/schemas/Award"
            }
          },
          "bridge_id": {
            "type": "string",
            "description": "DEPRECATED",
            "example": "",
            "deprecated": true,
            "x-ballerina-name": "bridgeId"
          },
          "deductibility_code": {
            "type": "string",
            "description": "Deductibility code signifies whether contributions made to an organization are deductible",
            "example": "1",
            "x-ballerina-name": "deductibilityCode"
          }
        },
        "description": "Information about the non-profit, such as name and address"
      },
      "Summary2": {
        "type": "object",
        "properties": {
          "other_documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OtherDocument"
            },
            "x-ballerina-name": "otherDocuments"
          },
          "naics_code": {
            "allOf": [
              {
                "$ref": "#/components/schemas/NAICSCode"
              }
            ],
            "x-ballerina-name": "naicsCode"
          },
          "fiscal_year_end": {
            "type": "string",
            "description": "When the fiscal year ends for the organization",
            "example": "Dec 31",
            "x-ballerina-name": "fiscalYearEnd"
          },
          "fiscal_year_start": {
            "type": "string",
            "description": "When the fiscal year begins for the organization",
            "example": "Jan 1",
            "x-ballerina-name": "fiscalYearStart"
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "contact_phone": {
            "type": "string",
            "description": "Primary contact phone number",
            "example": "212-620-4230",
            "x-ballerina-name": "contactPhone"
          },
          "keywords": {
            "type": "string",
            "description": "Keywords added by the organization to their profile",
            "example": "philanthropy, data, transparency, capacity building, research, education, foundations, foundation, charitable giving, data driven decisions, nonprofits, transparency, nonprofit sector, organizational effectiveness, organizational efficiency, nonprofit information hub, Forms 990, GuideStar, Foundation Center"
          },
          "social_media_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "A social media URL related to the organization",
              "example": "https://www.facebook.com/CandidDotOrg/"
            },
            "x-ballerina-name": "socialMediaUrls"
          },
          "logo_url": {
            "type": "string",
            "description": "Organization logo URL",
            "example": "https://www.guidestar.org/ViewEdoc.aspx?eDocId=6645385&approved=True",
            "x-ballerina-name": "logoUrl"
          },
          "donation_to_ein": {
            "type": "string",
            "description": "EIN that should be used for charitable donations",
            "example": "13-1837418",
            "x-ballerina-name": "donationToEin"
          },
          "affiliation_description": {
            "type": "string",
            "description": "Description of what the affiliation code means",
            "example": "This code is used if the organization is an independent organization or an independent auxiliary (i.e., not affiliated with a a National, Regional, or Geographic grouping of organizations).",
            "x-ballerina-name": "affiliationDescription"
          },
          "areas_served_narrative": {
            "type": "string",
            "description": "DEPRECATED",
            "example": "",
            "deprecated": true,
            "x-ballerina-name": "areasServedNarrative"
          },
          "gs_financial_trends_analysis_pdf": {
            "type": "string",
            "description": "URL of API call to the FTA PDF API endpoint to download the organization's financial trends analysis PDF",
            "example": "https://apidata.guidestar.org/premier/v1/ftapdf/13-1837418",
            "x-ballerina-name": "gsFinancialTrendsAnalysisPdf"
          },
          "contact_fax": {
            "type": "string",
            "description": "Primary contact fax number",
            "example": "212-807-3677",
            "x-ballerina-name": "contactFax"
          },
          "subsection_description": {
            "type": "string",
            "description": "Description of organization subsection code",
            "example": "501(c)(3) Public Charity",
            "x-ballerina-name": "subsectionDescription"
          },
          "videos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Video"
            }
          },
          "impact_statement": {
            "type": "string",
            "description": "DEPRECATED",
            "example": "",
            "deprecated": true,
            "x-ballerina-name": "impactStatement"
          },
          "ntee_codes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NteeCode"
            },
            "x-ballerina-name": "nteeCodes"
          },
          "photos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhotoLink"
            }
          },
          "telephone_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TelephoneNumber"
            },
            "x-ballerina-name": "telephoneNumbers"
          },
          "gs_profile_update_level_logo": {
            "type": "string",
            "description": "Url to Guidestar.org seal image",
            "example": "https://www.guidestar.org/App_Themes/MainSite2/images/ProfilePageSvgs/profile-PLATINUM2021-seal.svg",
            "x-ballerina-name": "gsProfileUpdateLevelLogo"
          },
          "subsection_code": {
            "type": "string",
            "description": "Subsection Codes are the codes shown under section 501(c) of the Internal Revenue Code of 1986, which define the category under which an organization may be exempt",
            "example": "03",
            "x-ballerina-name": "subsectionCode"
          },
          "state": {
            "type": "string",
            "description": "Organization address state",
            "example": "NY"
          },
          "fax": {
            "type": "string",
            "description": "Organization fax number",
            "example": "(212)807-3677"
          },
          "zip": {
            "type": "string",
            "description": "Organization address zip code",
            "example": "10005"
          },
          "letters_of_determination": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LetterOfDetermination"
            },
            "x-ballerina-name": "lettersOfDetermination"
          },
          "formerly_known_as": {
            "type": "array",
            "deprecated": true,
            "items": {
              "$ref": "#/components/schemas/FormerName"
            },
            "x-ballerina-name": "formerlyKnownAs"
          },
          "year_incorporated": {
            "type": "string",
            "description": "Year that an organization was incorporated",
            "example": "1956",
            "x-ballerina-name": "yearIncorporated"
          },
          "organization_name": {
            "type": "string",
            "description": "Organization name",
            "example": "Candid",
            "x-ballerina-name": "organizationName"
          },
          "ntee_code": {
            "type": "string",
            "description": "National Taxonomy of Exempt Entities (NTEE) Code",
            "example": "T50 - Philanthropy, Voluntarism, and Grantmaking",
            "x-ballerina-name": "nteeCode"
          },
          "mission": {
            "type": "string",
            "description": "Organization mission statement",
            "example": "Candid gets you the information you need to do good."
          },
          "gs_profile_update_level": {
            "type": "string",
            "description": "Guidestar.org organization profile seal of transparency level",
            "example": "Platinum 2021",
            "x-ballerina-name": "gsProfileUpdateLevel"
          },
          "organization_id": {
            "type": "integer",
            "description": "GuideStar internal organization ID",
            "example": 6908122,
            "x-ballerina-name": "organizationId"
          },
          "first_on_bmf_date": {
            "type": "string",
            "description": "First time organization appeared on the BMF",
            "format": "date-time",
            "example": "1998-07-31T04:00:00Z",
            "x-ballerina-name": "firstOnBmfDate"
          },
          "contact_title": {
            "type": "string",
            "description": "Primary contact title",
            "example": "Senior Director of Brand and Marketing",
            "x-ballerina-name": "contactTitle"
          },
          "deductibility_description": {
            "type": "string",
            "description": "Deductibility code description",
            "example": "Contributions are deductible, as provided by law",
            "x-ballerina-name": "deductibilityDescription"
          },
          "last_on_bmf_date": {
            "type": "string",
            "description": "Last time an organization appeared on the BMF",
            "format": "date-time",
            "example": "2021-04-12T04:00:00Z",
            "x-ballerina-name": "lastOnBmfDate"
          },
          "city": {
            "type": "string",
            "description": "Organization address city",
            "example": "New York"
          },
          "ruling_year": {
            "type": "string",
            "description": "Year that organization started operating as a non-profit",
            "example": "1957",
            "x-ballerina-name": "rulingYear"
          },
          "year_founded": {
            "type": "string",
            "description": "Year that an organization was founded",
            "example": "1956",
            "x-ballerina-name": "yearFounded"
          },
          "affiliations": {
            "type": "array",
            "deprecated": true,
            "items": {
              "$ref": "#/components/schemas/Affiliation"
            }
          },
          "ein": {
            "type": "string",
            "description": "Employee identification number",
            "example": "13-1837418"
          },
          "gs_public_report": {
            "type": "string",
            "description": "Guidestar.org organization profile URL",
            "example": "https://www.guidestar.org/profile/13-1837418",
            "x-ballerina-name": "gsPublicReport"
          },
          "contact_email": {
            "type": "string",
            "description": "Primary contact email",
            "example": "answers@candid.org",
            "x-ballerina-name": "contactEmail"
          },
          "letters_of_dissolution": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LetterOfDissolution"
            },
            "x-ballerina-name": "lettersOfDissolution"
          },
          "sic_codes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SICCode"
            },
            "x-ballerina-name": "sicCodes"
          },
          "profile_data_change_dates": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProfileDataChangeDates"
              }
            ],
            "x-ballerina-name": "profileDataChangeDates"
          },
          "address_line_1": {
            "type": "string",
            "description": "Organization address street name",
            "example": "32 Old Slip",
            "x-ballerina-name": "addressLine1"
          },
          "is_non_bmf_org": {
            "type": "boolean",
            "description": "Is the organization not on the BMF",
            "example": false,
            "x-ballerina-name": "isNonBmfOrg"
          },
          "address_line_2": {
            "type": "string",
            "description": "Organization address Suite or Apartment number",
            "example": "24th Floor",
            "x-ballerina-name": "addressLine2"
          },
          "govt_registered_name": {
            "type": "string",
            "description": "Legal organization name",
            "example": "Candid",
            "x-ballerina-name": "govtRegisteredName"
          },
          "also_known_as": {
            "type": "string",
            "description": "Comma separated string of names associated with the organization",
            "example": "The Foundation Center,  Foundation Center, GuideStar, GuideStar USA",
            "x-ballerina-name": "alsoKnownAs"
          },
          "contact_name": {
            "type": "string",
            "description": "Primary contact name",
            "example": "Gabe Cohen",
            "x-ballerina-name": "contactName"
          },
          "forms_1023_1024": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Application for the organization to gain tax-exempt status",
              "example": "[\"https://www.guidestar.org/ViewEdoc.aspx?eDocId=7077922&approved=True\"]"
            },
            "x-ballerina-name": "forms10231024"
          },
          "gs_pro_pdf": {
            "type": "string",
            "description": "URL of API call to the Pro PDF API endpoint to download the organization's profile PDF",
            "example": "https://apidata.guidestar.org/premier/v1/propdf/13-1837418",
            "x-ballerina-name": "gsProPdf"
          },
          "is_national_hq": {
            "type": "boolean",
            "description": "Whether or not this organization is the national headquarters",
            "example": false,
            "x-ballerina-name": "isNationalHq"
          },
          "affiliation_code": {
            "type": "string",
            "description": "Single digit code designating the type of organization (Central, Intermediate, or Independent) if there is no group exemption or (Central, Intermediate, Independent, or Subordinate) if there is a group exemption",
            "example": "3",
            "x-ballerina-name": "affiliationCode"
          },
          "donation_to_name": {
            "type": "string",
            "description": "Organization name that should be used for charitable donations",
            "example": "Candid",
            "x-ballerina-name": "donationToName"
          },
          "website_url": {
            "type": "string",
            "description": "Organization website URL",
            "example": "candid.org",
            "x-ballerina-name": "websiteUrl"
          },
          "awards": {
            "type": "array",
            "deprecated": true,
            "items": {
              "$ref": "#/components/schemas/Award"
            }
          },
          "bridge_id": {
            "type": "string",
            "description": "DEPRECATED",
            "example": "",
            "deprecated": true,
            "x-ballerina-name": "bridgeId"
          },
          "deductibility_code": {
            "type": "string",
            "description": "Deductibility code signifies whether contributions made to an organization are deductible",
            "example": "1",
            "x-ballerina-name": "deductibilityCode"
          },
          "platinum_evaluation_documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatinumEvaluationDocument"
            },
            "x-ballerina-name": "platinumEvaluationDocuments"
          }
        },
        "description": "Information about the non-profit, such as name and address"
      },
      "Address": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "description": "Address country",
            "example": "USA"
          },
          "address_type": {
            "type": "string",
            "description": "Address type",
            "example": "Main Address",
            "x-ballerina-name": "addressType"
          },
          "city": {
            "type": "string",
            "description": "Address city",
            "example": "New York"
          },
          "address_line_1": {
            "type": "string",
            "description": "Address line 1",
            "example": "32 Old Slip",
            "x-ballerina-name": "addressLine1"
          },
          "address_line_2": {
            "type": "string",
            "description": "Address line 2",
            "example": "24th Floor",
            "x-ballerina-name": "addressLine2"
          },
          "state": {
            "type": "string",
            "description": "Address state",
            "example": "NY"
          },
          "postal_code": {
            "type": "string",
            "description": "Address postal code",
            "example": "10005",
            "x-ballerina-name": "postalCode"
          }
        },
        "description": "Address entry in summary.addresses. Usually an office of an organization"
      },
      "FinancialStatement": {
        "type": "object",
        "properties": {
          "fiscal_year_end": {
            "type": "string",
            "description": "When the fiscal year ends",
            "example": "2017",
            "x-ballerina-name": "fiscalYearEnd"
          },
          "auditing_company": {
            "type": "string",
            "description": "The company that audited the financials",
            "example": "KPMG",
            "x-ballerina-name": "auditingCompany"
          },
          "fiscal_year_begin": {
            "type": "string",
            "description": "DEPRECATED",
            "example": "",
            "deprecated": true,
            "x-ballerina-name": "fiscalYearBegin"
          },
          "doc_name": {
            "type": "string",
            "description": "The name of the uploaded document",
            "example": "Audited Financial Statements.pdf",
            "x-ballerina-name": "docName"
          },
          "document_url": {
            "type": "string",
            "description": "The url of the document",
            "example": "https://www.guidestar.org/ViewEdoc.aspx?eDocId=6050448&approved=True",
            "x-ballerina-name": "documentUrl"
          }
        }
      },
      "Summary3": {
        "type": "object",
        "properties": {
          "other_documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OtherDocument"
            },
            "x-ballerina-name": "otherDocuments"
          },
          "naics_code": {
            "allOf": [
              {
                "$ref": "#/components/schemas/NAICSCode"
              }
            ],
            "x-ballerina-name": "naicsCode"
          },
          "org_collect_feedback": {
            "type": "boolean",
            "description": "Has this organization filled the 'How we listen' section of their profile",
            "example": true,
            "x-ballerina-name": "orgCollectFeedback"
          },
          "fiscal_year_end": {
            "type": "string",
            "description": "When the fiscal year ends for the organization",
            "example": "Dec 31",
            "x-ballerina-name": "fiscalYearEnd"
          },
          "fiscal_year_start": {
            "type": "string",
            "description": "When the fiscal year begins for the organization",
            "example": "Jan 1",
            "x-ballerina-name": "fiscalYearStart"
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "contact_phone": {
            "type": "string",
            "description": "Primary contact phone number",
            "example": "212-620-4230",
            "x-ballerina-name": "contactPhone"
          },
          "keywords": {
            "type": "string",
            "description": "Keywords added by the organization to their profile",
            "example": "philanthropy, data, transparency, capacity building, research, education, foundations, foundation, charitable giving, data driven decisions, nonprofits, transparency, nonprofit sector, organizational effectiveness, organizational efficiency, nonprofit information hub, Forms 990, GuideStar, Foundation Center"
          },
          "social_media_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "A social media URL related to the organization",
              "example": "https://www.facebook.com/CandidDotOrg/"
            },
            "x-ballerina-name": "socialMediaUrls"
          },
          "logo_url": {
            "type": "string",
            "description": "Organization logo URL",
            "example": "https://www.guidestar.org/ViewEdoc.aspx?eDocId=6645385&approved=True",
            "x-ballerina-name": "logoUrl"
          },
          "donation_to_ein": {
            "type": "string",
            "description": "EIN that should be used for charitable donations",
            "example": "13-1837418",
            "x-ballerina-name": "donationToEin"
          },
          "affiliation_description": {
            "type": "string",
            "description": "Description of what the affiliation code means",
            "example": "This code is used if the organization is an independent organization or an independent auxiliary (i.e., not affiliated with a a National, Regional, or Geographic grouping of organizations).",
            "x-ballerina-name": "affiliationDescription"
          },
          "areas_served_narrative": {
            "type": "string",
            "description": "DEPRECATED",
            "example": "",
            "deprecated": true,
            "x-ballerina-name": "areasServedNarrative"
          },
          "county": {
            "type": "string",
            "description": "Organization address county",
            "example": "New York"
          },
          "gs_financial_trends_analysis_pdf": {
            "type": "string",
            "description": "URL of API call to the FTA PDF API endpoint to download the organization's financial trends analysis PDF",
            "example": "https://apidata.guidestar.org/premier/v1/ftapdf/13-1837418",
            "x-ballerina-name": "gsFinancialTrendsAnalysisPdf"
          },
          "contact_fax": {
            "type": "string",
            "description": "Primary contact fax number",
            "example": "212-807-3677",
            "x-ballerina-name": "contactFax"
          },
          "subsection_description": {
            "type": "string",
            "description": "Description of organization subsection code",
            "example": "501(c)(3) Public Charity",
            "x-ballerina-name": "subsectionDescription"
          },
          "videos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Video"
            }
          },
          "impact_statement": {
            "type": "string",
            "description": "DEPRECATED",
            "example": "",
            "deprecated": true,
            "x-ballerina-name": "impactStatement"
          },
          "ntee_codes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NteeCode"
            },
            "x-ballerina-name": "nteeCodes"
          },
          "photos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhotoLink"
            }
          },
          "telephone_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TelephoneNumber"
            },
            "x-ballerina-name": "telephoneNumbers"
          },
          "gs_profile_update_level_logo": {
            "type": "string",
            "description": "Url to Guidestar.org seal image",
            "example": "https://www.guidestar.org/App_Themes/MainSite2/images/ProfilePageSvgs/profile-PLATINUM2021-seal.svg",
            "x-ballerina-name": "gsProfileUpdateLevelLogo"
          },
          "subsection_code": {
            "type": "string",
            "description": "Subsection Codes are the codes shown under section 501(c) of the Internal Revenue Code of 1986, which define the category under which an organization may be exempt",
            "example": "03",
            "x-ballerina-name": "subsectionCode"
          },
          "demographics_status_nonprofit": {
            "type": "string",
            "description": "Description of demographics status that can be displayed to a nonprofit",
            "example": "Your organization has provided Candid demographics data on 06/23/2023",
            "x-ballerina-name": "demographicsStatusNonprofit"
          },
          "state": {
            "type": "string",
            "description": "Organization address state",
            "example": "NY"
          },
          "fax": {
            "type": "string",
            "description": "Organization fax number",
            "example": "(212)807-3677"
          },
          "longitude": {
            "type": "string",
            "description": "Longitude of the center of the zip code of an organizations mailing address",
            "example": "-74.008849"
          },
          "demographics_status": {
            "type": "string",
            "description": "Description of demographics status that can be displayed to a funder or donor",
            "example": "This organization has provided Candid demographics data on 06/23/2023",
            "x-ballerina-name": "demographicsStatus"
          },
          "zip": {
            "type": "string",
            "description": "Organization address zip code",
            "example": "10005"
          },
          "letters_of_determination": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LetterOfDetermination"
            },
            "x-ballerina-name": "lettersOfDetermination"
          },
          "formerly_known_as": {
            "type": "array",
            "deprecated": true,
            "items": {
              "$ref": "#/components/schemas/FormerName"
            },
            "x-ballerina-name": "formerlyKnownAs"
          },
          "year_incorporated": {
            "type": "string",
            "description": "Year that an organization was incorporated",
            "example": "1956",
            "x-ballerina-name": "yearIncorporated"
          },
          "organization_name": {
            "type": "string",
            "description": "Organization name",
            "example": "Candid",
            "x-ballerina-name": "organizationName"
          },
          "ntee_code": {
            "type": "string",
            "description": "National Taxonomy of Exempt Entities (NTEE) Code",
            "example": "T50 - Philanthropy, Voluntarism, and Grantmaking",
            "x-ballerina-name": "nteeCode"
          },
          "org_feedback_example": {
            "type": "string",
            "description": "Response to 'How is your organization collecting feedback?'",
            "example": "We collect org feedback through customer surveys",
            "x-ballerina-name": "orgFeedbackExample"
          },
          "feedback_responses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FBResponseText"
            },
            "x-ballerina-name": "feedbackResponses"
          },
          "mission": {
            "type": "string",
            "description": "Organization mission statement",
            "example": "Candid gets you the information you need to do good."
          },
          "gs_profile_update_level": {
            "type": "string",
            "description": "Guidestar.org organization profile seal of transparency level",
            "example": "Platinum 2021",
            "x-ballerina-name": "gsProfileUpdateLevel"
          },
          "pcs_codes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PCS"
            },
            "x-ballerina-name": "pcsCodes"
          },
          "organization_id": {
            "type": "integer",
            "description": "GuideStar internal organization ID",
            "example": 6908122,
            "x-ballerina-name": "organizationId"
          },
          "sdg": {
            "$ref": "#/components/schemas/SDG"
          },
          "first_on_bmf_date": {
            "type": "string",
            "description": "First time organization appeared on the BMF",
            "format": "date-time",
            "example": "1998-07-31T04:00:00Z",
            "x-ballerina-name": "firstOnBmfDate"
          },
          "contact_title": {
            "type": "string",
            "description": "Primary contact title",
            "example": "Senior Director of Brand and Marketing",
            "x-ballerina-name": "contactTitle"
          },
          "deductibility_description": {
            "type": "string",
            "description": "Deductibility code description",
            "example": "Contributions are deductible, as provided by law",
            "x-ballerina-name": "deductibilityDescription"
          },
          "last_on_bmf_date": {
            "type": "string",
            "description": "Last time an organization appeared on the BMF",
            "format": "date-time",
            "example": "2021-04-12T04:00:00Z",
            "x-ballerina-name": "lastOnBmfDate"
          },
          "city": {
            "type": "string",
            "description": "Organization address city",
            "example": "New York"
          },
          "ruling_year": {
            "type": "string",
            "description": "Year that organization started operating as a non-profit",
            "example": "1957",
            "x-ballerina-name": "rulingYear"
          },
          "latitude": {
            "type": "string",
            "description": "Latitude of the center of the zip code of an organizations mailing address",
            "example": "40.705966"
          },
          "year_founded": {
            "type": "string",
            "description": "Year that an organization was founded",
            "example": "1956",
            "x-ballerina-name": "yearFounded"
          },
          "affiliations": {
            "type": "array",
            "deprecated": true,
            "items": {
              "$ref": "#/components/schemas/Affiliation"
            }
          },
          "ein": {
            "type": "string",
            "description": "Employee identification number",
            "example": "13-1837418"
          },
          "gs_public_report": {
            "type": "string",
            "description": "Guidestar.org organization profile URL",
            "example": "https://www.guidestar.org/profile/13-1837418",
            "x-ballerina-name": "gsPublicReport"
          },
          "profile_sdg_codes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SDG"
            },
            "x-ballerina-name": "profileSdgCodes"
          },
          "contact_email": {
            "type": "string",
            "description": "Primary contact email",
            "example": "answers@candid.org",
            "x-ballerina-name": "contactEmail"
          },
          "letters_of_dissolution": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LetterOfDissolution"
            },
            "x-ballerina-name": "lettersOfDissolution"
          },
          "sic_codes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SICCode"
            },
            "x-ballerina-name": "sicCodes"
          },
          "org_quiz_interest": {
            "type": "boolean",
            "description": "Did the organization indicate they had an interest in taking guidestar's feedback quiz",
            "example": false,
            "x-ballerina-name": "orgQuizInterest"
          },
          "profile_data_change_dates": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProfileDataChangeDates"
              }
            ],
            "x-ballerina-name": "profileDataChangeDates"
          },
          "address_line_1": {
            "type": "string",
            "description": "Organization address street name",
            "example": "32 Old Slip",
            "x-ballerina-name": "addressLine1"
          },
          "is_non_bmf_org": {
            "type": "boolean",
            "description": "Is the organization not on the BMF",
            "example": false,
            "x-ballerina-name": "isNonBmfOrg"
          },
          "address_line_2": {
            "type": "string",
            "description": "Organization address Suite or Apartment number",
            "example": "24th Floor",
            "x-ballerina-name": "addressLine2"
          },
          "govt_registered_name": {
            "type": "string",
            "description": "Legal organization name",
            "example": "Candid",
            "x-ballerina-name": "govtRegisteredName"
          },
          "also_known_as": {
            "type": "string",
            "description": "Comma separated string of names associated with the organization",
            "example": "The Foundation Center,  Foundation Center, GuideStar, GuideStar USA",
            "x-ballerina-name": "alsoKnownAs"
          },
          "contact_name": {
            "type": "string",
            "description": "Primary contact name",
            "example": "Gabe Cohen",
            "x-ballerina-name": "contactName"
          },
          "forms_1023_1024": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Application for the organization to gain tax-exempt status",
              "example": "[\"https://www.guidestar.org/ViewEdoc.aspx?eDocId=7077922&approved=True\"]"
            },
            "x-ballerina-name": "forms10231024"
          },
          "gs_pro_pdf": {
            "type": "string",
            "description": "URL of API call to the Pro PDF API endpoint to download the organization's profile PDF",
            "example": "https://apidata.guidestar.org/premier/v1/propdf/13-1837418",
            "x-ballerina-name": "gsProPdf"
          },
          "is_national_hq": {
            "type": "boolean",
            "description": "Whether or not this organization is the national headquarters",
            "example": false,
            "x-ballerina-name": "isNationalHq"
          },
          "affiliation_code": {
            "type": "string",
            "description": "Single digit code designating the type of organization (Central, Intermediate, or Independent) if there is no group exemption or (Central, Intermediate, Independent, or Subordinate) if there is a group exemption",
            "example": "3",
            "x-ballerina-name": "affiliationCode"
          },
          "donation_to_name": {
            "type": "string",
            "description": "Organization name that should be used for charitable donations",
            "example": "Candid",
            "x-ballerina-name": "donationToName"
          },
          "website_url": {
            "type": "string",
            "description": "Organization website URL",
            "example": "candid.org",
            "x-ballerina-name": "websiteUrl"
          },
          "awards": {
            "type": "array",
            "deprecated": true,
            "items": {
              "$ref": "#/components/schemas/Award"
            }
          },
          "bridge_id": {
            "type": "string",
            "description": "DEPRECATED",
            "example": "",
            "deprecated": true,
            "x-ballerina-name": "bridgeId"
          },
          "org_learn_more": {
            "type": "boolean",
            "description": "Did the organization indicate they had an interest in learning more about feedback practices",
            "example": false,
            "x-ballerina-name": "orgLearnMore"
          },
          "deductibility_code": {
            "type": "string",
            "description": "Deductibility code signifies whether contributions made to an organization are deductible",
            "example": "1",
            "x-ballerina-name": "deductibilityCode"
          },
          "platinum_evaluation_documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatinumEvaluationDocument"
            },
            "x-ballerina-name": "platinumEvaluationDocuments"
          }
        },
        "description": "Information about the non-profit, such as name and address"
      },
      "PartVIII": {
        "type": "object",
        "properties": {
          "gross_profit": {
            "type": "number",
            "description": "gross profit earned",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "grossProfit"
          },
          "service_revenue": {
            "type": "number",
            "description": "revenue from services",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "serviceRevenue"
          },
          "rent_income_real": {
            "type": "number",
            "description": "Rental Income-real",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "rentIncomeReal"
          },
          "gain_securities": {
            "type": "number",
            "description": "Gain or loss on sale of assets-securities",
            "format": "double",
            "example": 10000,
            "x-ballerina-name": "gainSecurities"
          },
          "net_special": {
            "type": "number",
            "description": "net special revenue",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "netSpecial"
          },
          "related_orgs": {
            "type": "number",
            "description": "revenue from related orgs",
            "format": "double",
            "example": 0,
            "x-ballerina-name": "relatedOrgs"
          },
          "rent_expenses_personal": {
            "type": "number",
            "description": "Personal rental expense",
            "format": "double",
            "example": 0,
            "x-ballerina-name": "rentExpensesPersonal"
          },
          "contributions": {
            "type": "number",
            "description": "revenue from contributions",
            "format": "double",
            "example": 100000
          },
          "rents_real": {
            "type": "number",
            "description": "Gross Rent-real",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "rentsReal"
          },
          "membership_dues": {
            "type": "number",
            "description": "revenue from membership dues",
            "format": "double",
            "example": 0,
            "x-ballerina-name": "membershipDues"
          },
          "cost_securities": {
            "type": "number",
            "description": "Less cost of sale of assets-securities",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "costSecurities"
          },
          "service_code_a": {
            "type": "number",
            "description": "Program service code (a)",
            "format": "double",
            "example": 10000000,
            "x-ballerina-name": "serviceCodeA"
          },
          "rent_income_personal": {
            "type": "number",
            "description": "Rental Income-personal",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "rentIncomePersonal"
          },
          "service_code_c": {
            "type": "number",
            "description": "Program service code (c)",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "serviceCodeC"
          },
          "service_code_b": {
            "type": "number",
            "description": "Program service code (b)",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "serviceCodeB"
          },
          "service_code_e": {
            "type": "number",
            "description": "Program service code (e)",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "serviceCodeE"
          },
          "service_code_d": {
            "type": "number",
            "description": "Program service code (d)",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "serviceCodeD"
          },
          "gross_special": {
            "type": "number",
            "description": "gross special revenue",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "grossSpecial"
          },
          "service_code_f": {
            "type": "number",
            "description": "Program service code (f)",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "serviceCodeF"
          },
          "gross_other": {
            "type": "number",
            "description": "Gross sales of assets-other",
            "format": "double",
            "example": 0,
            "x-ballerina-name": "grossOther"
          },
          "contributions_all": {
            "type": "number",
            "description": "total revenue from other contributions",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "contributionsAll"
          },
          "rents_personal": {
            "type": "number",
            "description": "Gross Rent -personal",
            "format": "double",
            "example": 0,
            "x-ballerina-name": "rentsPersonal"
          },
          "government_grants": {
            "type": "number",
            "description": "revenue from government grants",
            "format": "double",
            "example": 0,
            "x-ballerina-name": "governmentGrants"
          },
          "income_investment": {
            "type": "number",
            "description": "revenue from income investments",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "incomeInvestment"
          },
          "net_sales": {
            "type": "number",
            "description": "net revenue from sales",
            "format": "double",
            "example": 10000000,
            "x-ballerina-name": "netSales"
          },
          "revenue_other": {
            "type": "number",
            "description": "other revenue",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "revenueOther"
          },
          "gross_sales": {
            "type": "number",
            "description": "gross revenue from sales",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "grossSales"
          },
          "fundraising_events": {
            "type": "number",
            "description": "revenue from fundraising events",
            "format": "double",
            "example": 0,
            "x-ballerina-name": "fundraisingEvents"
          },
          "revenue_total": {
            "type": "number",
            "description": "total revenue",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "revenueTotal"
          },
          "rent_expenses_real": {
            "type": "number",
            "description": "Real rental expense",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "rentExpensesReal"
          },
          "gross_securities": {
            "type": "number",
            "description": "Gross sales of Assets-securities",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "grossSecurities"
          },
          "service_description_b": {
            "type": "string",
            "description": "second specially declared revenue-providing service",
            "example": "FUNDING INFO. NETWORK",
            "x-ballerina-name": "serviceDescriptionB"
          },
          "service_amount_a": {
            "type": "number",
            "description": "revenue from service a",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "serviceAmountA"
          },
          "service_description_a": {
            "type": "string",
            "description": "first specially declared revenue-providing service",
            "example": "PRODUCT REVENUE",
            "x-ballerina-name": "serviceDescriptionA"
          },
          "service_amount_b": {
            "type": "number",
            "description": "revenue from service b",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "serviceAmountB"
          },
          "service_amount_c": {
            "type": "number",
            "description": "revenue from service c",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "serviceAmountC"
          },
          "service_description_d": {
            "type": "string",
            "description": "fourth specially declared revenue-providing service",
            "example": "ANOTHER SPECIAL REVENUE SERVICE",
            "x-ballerina-name": "serviceDescriptionD"
          },
          "service_description_c": {
            "type": "string",
            "description": "third specially declared revenue-providing service",
            "example": "SPECIAL REVENUE SERVICE",
            "x-ballerina-name": "serviceDescriptionC"
          },
          "service_amount_d": {
            "type": "number",
            "description": "revenue from service d",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "serviceAmountD"
          },
          "net_rental": {
            "type": "number",
            "description": "Net Rental Income",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "netRental"
          },
          "gaming_income": {
            "type": "number",
            "description": "Gross income from gaming",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "gamingIncome"
          },
          "gaming_net": {
            "type": "number",
            "description": "Net income from gaming",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "gamingNet"
          },
          "service_amount_e": {
            "type": "number",
            "description": "revenue from service e",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "serviceAmountE"
          },
          "service_description_f": {
            "type": "string",
            "description": "sixth specially declared revenue-providing service",
            "example": "A FINAL SPECIAL REVENUE SERVICE",
            "x-ballerina-name": "serviceDescriptionF"
          },
          "service_description_e": {
            "type": "string",
            "description": "fifth specially declared revenue-providing service",
            "example": "YET ANOTHER SPECIAL REVENUE SERVICE",
            "x-ballerina-name": "serviceDescriptionE"
          },
          "service_amount_f": {
            "type": "number",
            "description": "revenue from service f",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "serviceAmountF"
          },
          "gain_other": {
            "type": "number",
            "description": "Gain or loss on sale of assets-other",
            "format": "double",
            "example": 10000,
            "x-ballerina-name": "gainOther"
          },
          "income_bonds": {
            "type": "number",
            "description": "revenue from income bonds",
            "format": "double",
            "example": 0,
            "x-ballerina-name": "incomeBonds"
          },
          "cost_other": {
            "type": "number",
            "description": "Less cost of sales of assets-other",
            "format": "double",
            "example": 10000,
            "x-ballerina-name": "costOther"
          },
          "contributions_noncash": {
            "type": "number",
            "description": "revenue from other noncash contributions",
            "format": "double",
            "example": 0,
            "x-ballerina-name": "contributionsNoncash"
          },
          "cost_goods": {
            "type": "number",
            "description": "cost of goods",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "costGoods"
          },
          "direct_expenses": {
            "type": "number",
            "description": "direct expenses for the organization",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "directExpenses"
          },
          "federated_campaigns": {
            "type": "number",
            "description": "revenue from federated campaigns",
            "format": "double",
            "example": 0,
            "x-ballerina-name": "federatedCampaigns"
          },
          "royalties": {
            "type": "number",
            "description": "revenue from royalties",
            "format": "double",
            "example": 0
          },
          "gaming_expenses": {
            "type": "number",
            "description": "Less expenses from gaming",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "gamingExpenses"
          },
          "contributions_other": {
            "type": "number",
            "description": "revenue from other contributions",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "contributionsOther"
          }
        },
        "description": "IRS 990 form Part VIII dealing with revenue"
      },
      "CharityCheckParentOrganizations": {
        "type": "object",
        "properties": {
          "group_exemption": {
            "type": "string",
            "description": "This is a four-digit internal number assigned to parent organizations holding group exemption letters",
            "example": "1234",
            "x-ballerina-name": "groupExemption"
          },
          "ein": {
            "type": "string",
            "description": "EIN of parent organization",
            "example": "13-1837418"
          },
          "organization_name": {
            "type": "string",
            "description": "Name of Parent Organization",
            "example": "Candid",
            "x-ballerina-name": "organizationName"
          }
        }
      },
      "SDG": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "UN sustainable development goal description",
            "example": "Partnerships for the Goals"
          },
          "id": {
            "type": "integer",
            "description": "UN sustainable development goal number",
            "format": "int32",
            "example": 17
          }
        },
        "description": "UN sustainable development goals"
      },
      "BoardMember": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The board member's first and last name",
            "example": "Bob Smith"
          },
          "company": {
            "type": "string",
            "description": "The company the board member works for",
            "example": "City of West Palm Beach, Housing and Community Development"
          },
          "title": {
            "type": "string",
            "description": "DEPRECATED",
            "example": "",
            "deprecated": true
          }
        }
      },
      "Accreditation": {
        "type": "object",
        "properties": {
          "year": {
            "type": "string",
            "description": "DEPRECATED",
            "example": ""
          },
          "accreditation": {
            "type": "string",
            "description": "DEPRECATED",
            "example": ""
          }
        },
        "deprecated": true
      },
      "DemographicsCategory": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "DEPRECATED",
            "example": ""
          },
          "subcategories": {
            "type": "array",
            "description": "DEPRECATED",
            "example": [],
            "deprecated": true,
            "items": {
              "$ref": "#/components/schemas/DemographicsSubCategory"
            }
          },
          "org_does_not_collect_for": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean",
              "description": "DEPRECATED",
              "example": false,
              "deprecated": true
            },
            "deprecated": true,
            "x-ballerina-name": "orgDoesNotCollectFor"
          }
        },
        "description": "Category for demographics",
        "deprecated": true
      },
      "V3PublicProfile": {
        "type": "object",
        "properties": {
          "took": {
            "type": "integer",
            "description": "Time taken for request to process",
            "example": 24
          },
          "code": {
            "type": "integer",
            "description": "HTTP response status code",
            "example": 200
          },
          "data": {
            "$ref": "#/components/schemas/V3PublicProfileData"
          },
          "message": {
            "type": "string",
            "description": "Diagnostic message for response status",
            "example": "Request was processed successfully!"
          },
          "errors": {
            "type": "array",
            "description": "List of errors encountered",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Affiliation": {
        "type": "object",
        "properties": {
          "affiliation": {
            "type": "string",
            "description": "DEPRECATED",
            "example": ""
          },
          "year": {
            "type": "string",
            "description": "DEPRECATED",
            "example": ""
          }
        },
        "description": "DEPRECATED",
        "deprecated": true
      },
      "FinDoc": {
        "type": "object",
        "properties": {
          "form990_url": {
            "type": "string",
            "description": "URL to access this document",
            "example": "https://pdf.guidestar.org/PDF_Images/2019/541/774/2019-541774039-202011259349301266-9.pdf",
            "x-ballerina-name": "form990Url"
          },
          "form990_source": {
            "type": "string",
            "description": "Source of document",
            "example": "US IRS",
            "x-ballerina-name": "form990Source"
          },
          "form990_name": {
            "type": "string",
            "description": "File name document uploaded as",
            "example": "2019 Form 990",
            "x-ballerina-name": "form990Name"
          },
          "form990_year": {
            "type": "string",
            "description": "Year file pertains to",
            "example": "2019",
            "x-ballerina-name": "form990Year"
          }
        },
        "description": "IRS 990 document, possibly uploaded by the organization"
      },
      "Form990T": {
        "type": "object",
        "properties": {
          "form990t_name": {
            "type": "string",
            "description": "The name of the file",
            "example": "2018 Form 990T",
            "x-ballerina-name": "form990tName"
          },
          "form990t_url": {
            "type": "string",
            "description": "URL for the organization's Form 990 T",
            "example": "https://pdf.guidestar.org/PDF_Images/F990T/2015/131/837/2015-131837418-0d323c11-T.pdf",
            "x-ballerina-name": "form990tUrl"
          }
        }
      },
      "ParentOrganization": {
        "type": "object",
        "properties": {
          "group_exemption": {
            "type": "string",
            "description": "The exemption code",
            "example": "0",
            "x-ballerina-name": "groupExemption"
          },
          "ein": {
            "type": "string",
            "description": "The parent organizations EIN",
            "example": "13-1837418"
          },
          "organization_name": {
            "type": "string",
            "description": "The parent organizations name",
            "example": "Candid",
            "x-ballerina-name": "organizationName"
          }
        }
      },
      "PlatinumMetrics": {
        "type": "object",
        "properties": {
          "target_population_served": {
            "type": "array",
            "description": "The target populations that the metric supports",
            "items": {
              "type": "string",
              "description": "A Target population",
              "example": "General/Unspecified"
            },
            "x-ballerina-name": "targetPopulationServed"
          },
          "metric": {
            "type": "string",
            "description": "Metric name",
            "example": "Number of organizations you can find on GuideStar"
          },
          "type_of_metric": {
            "type": "string",
            "description": "How this metric is being measured",
            "example": "Output - describing our activities and reach",
            "x-ballerina-name": "typeOfMetric"
          },
          "direction_of_success": {
            "type": "string",
            "description": "How to determine if this metric is showing a successful trend",
            "example": "Increasing",
            "x-ballerina-name": "directionOfSuccess"
          },
          "years": {
            "type": "array",
            "description": "The years this metric was captured and the values for a given year",
            "items": {
              "$ref": "#/components/schemas/MetricYear"
            }
          }
        },
        "description": "Program metrics entered by the organization"
      },
      "Programs2": {
        "type": "object",
        "properties": {
          "charting_impact_answers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Question"
            },
            "x-ballerina-name": "chartingImpactAnswers"
          },
          "platinum_metrics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatinumMetrics"
            },
            "x-ballerina-name": "platinumMetrics"
          },
          "programs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Program2"
            }
          }
        },
        "description": "Collection of an organizations programs and program metrics"
      },
      "PartX": {
        "type": "object",
        "properties": {
          "accounts_payable_boy": {
            "type": "number",
            "description": "beginning of year accounts payable",
            "format": "double",
            "example": 10000000,
            "x-ballerina-name": "accountsPayableBoy"
          },
          "loans_receivable_boy": {
            "type": "number",
            "description": "beginning of year loans receivable",
            "format": "double",
            "example": 10000000,
            "x-ballerina-name": "loansReceivableBoy"
          },
          "lbe_base": {
            "type": "number",
            "description": "Land, buildings, and equipment: cost basis",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "lbeBase"
          },
          "paid_in_eoy": {
            "type": "number",
            "description": "Paid-in or capital surplus, or land, building, or equipment fund:  end of year",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "paidInEoy"
          },
          "grants_payable_eoy": {
            "type": "number",
            "description": "end of year grants payable",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "grantsPayableEoy"
          },
          "escrow_liability_boy": {
            "type": "number",
            "description": "beginning of year escrow liability",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "escrowLiabilityBoy"
          },
          "secured_notes_payable_eoy": {
            "type": "number",
            "description": "end of year secured notes payable",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "securedNotesPayableEoy"
          },
          "unrestricted_eoy": {
            "type": "number",
            "description": "Unrestricted net assets: end of year",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "unrestrictedEoy"
          },
          "permanently_restricted_eoy": {
            "type": "number",
            "description": "Permanently restricted net assets: End of year",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "permanentlyRestrictedEoy"
          },
          "public_securities_eoy": {
            "type": "number",
            "description": "end of year public securities",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "publicSecuritiesEoy"
          },
          "other_assets_eoy": {
            "type": "number",
            "description": "end of year other assets",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "otherAssetsEoy"
          },
          "other_securities_eoy": {
            "type": "number",
            "description": "end ofyear other securities",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "otherSecuritiesEoy"
          },
          "net_total_eoy": {
            "type": "number",
            "description": "end of year net total",
            "format": "double",
            "example": 100000000,
            "x-ballerina-name": "netTotalEoy"
          },
          "balances_boy": {
            "type": "number",
            "description": "beginning of year balances",
            "format": "double",
            "example": 10000000,
            "x-ballerina-name": "balancesBoy"
          },
          "tax_exempt_bonds_eoy": {
            "type": "number",
            "description": "end of year tax exempt bonds",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "taxExemptBondsEoy"
          },
          "deferred_revenue_boy": {
            "type": "number",
            "description": "beginning of year deferred revenue",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "deferredRevenueBoy"
          },
          "assets_total_eoy": {
            "type": "number",
            "description": "end of year total asstes",
            "format": "double",
            "example": 10000000,
            "x-ballerina-name": "assetsTotalEoy"
          },
          "temporarily_restricted_boy": {
            "type": "number",
            "description": "Temporarily restricted net assets: Beginning of year",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "temporarilyRestrictedBoy"
          },
          "intangible_assets_boy": {
            "type": "number",
            "description": "beginning of year intangible assets",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "intangibleAssetsBoy"
          },
          "savings_eoy": {
            "type": "number",
            "description": "end of year savings",
            "format": "double",
            "example": 10000000,
            "x-ballerina-name": "savingsEoy"
          },
          "prepaid_boy": {
            "type": "number",
            "description": "beginning of year prepaid",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "prepaidBoy"
          },
          "investment_programs_eoy": {
            "type": "number",
            "description": "end of year investment programs",
            "format": "double",
            "example": 10000000,
            "x-ballerina-name": "investmentProgramsEoy"
          },
          "disqualified_receivable_boy": {
            "type": "number",
            "description": "beginning of year disqualified receivable",
            "format": "double",
            "example": 10000000,
            "x-ballerina-name": "disqualifiedReceivableBoy"
          },
          "less_depreciation": {
            "type": "number",
            "description": "Less:  accumulated depreciation",
            "format": "double",
            "example": 10000000,
            "x-ballerina-name": "lessDepreciation"
          },
          "retained_boy": {
            "type": "number",
            "description": "Retained earnings, endowment, accumulated income, or other funds:  beginning of year",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "retainedBoy"
          },
          "lbe_boy": {
            "type": "number",
            "description": "Land and buildings BOY",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "lbeBoy"
          },
          "capital_eoy": {
            "type": "number",
            "description": "end of year capital",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "capitalEoy"
          },
          "qualified_receivable_boy": {
            "type": "number",
            "description": "beginning of year qualified receivable",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "qualifiedReceivableBoy"
          },
          "unsecured_notes_payable_eoy": {
            "type": "number",
            "description": "end of year unsecured notes payable",
            "format": "double",
            "example": 100000,
            "x-ballerina-name": "unsecuredNotesPayableEoy"
          },
          "liability_total_boy": {
            "type": "number",
            "description": "beginning of year total liability",
            "format": "double",
            "example": 100000000,
            "x-ballerina-name": "liabilityTotalBoy"
          },
          "restricted_eoy": {
            "type": "number",
            "description": "Temporarily restricted net assets: End of year + Permanently restricted net assets: Beginning of year",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "restrictedEoy"
          },
          "cash_boy": {
            "type": "number",
            "description": "beginning of year cash",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "cashBoy"
          },
          "inventory_eoy": {
            "type": "number",
            "description": "end of year inventory",
            "format": "double",
            "example": 10000000,
            "x-ballerina-name": "inventoryEoy"
          },
          "payable_officiers_boy": {
            "type": "number",
            "description": "beginning of year payable officiers",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "payableOfficiersBoy"
          },
          "liability_other_eoy": {
            "type": "number",
            "description": "end of year other liability",
            "format": "double",
            "example": 10000,
            "x-ballerina-name": "liabilityOtherEoy"
          },
          "pledges_grants_eoy": {
            "type": "number",
            "description": "Net pledges and grants receivable:  end of year",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "pledgesGrantsEoy"
          },
          "accounts_receivable_eoy": {
            "type": "number",
            "description": "end of year accounts receivable",
            "format": "double",
            "example": 10000000,
            "x-ballerina-name": "accountsReceivableEoy"
          },
          "accounts_payable_eoy": {
            "type": "number",
            "description": "end of year accounts payable",
            "format": "double",
            "example": 1000000,
            "x-ballerina-name": "accountsPayableEoy"
          },
          "paid_in_boy": {
            "type": "number",
            "description": "Paid-in or capital surplus, or land, building, or equipment fund:  beginning of year",
            "format": "double",
            "example": 10000,
            "x-ballerina-name": "paidInBoy"
[...]
